# **Proyecto 3:** Implementación de Metaheurísticas
## Intregantes

* Rodrigo Paz Londoño
* Sebastián Palma Mogollón
* Miguel Santiago Castillo Hernandez 

## Carga de datos

### Caso base

In [3]:
import pandas as pd

clients_CB = pd.read_csv("Proyecto_Caso_Base/clients.csv")
depots_CB = pd.read_csv("Proyecto_Caso_Base/depots.csv")
vehicles_CB = pd.read_csv("Proyecto_Caso_Base/vehicles.csv")
parameters_CB = pd.read_csv("Proyecto_Caso_Base/parameters_base.csv")

print("CLIENTES")
display(clients_CB.head())

print("\n VEHICULOS")
display(vehicles_CB.head())

print("\n DEPOSITOS")
display(depots_CB.head())

print("\n PARAMETROS")
display(parameters_CB.head())

CLIENTES

   ClientID StandardizedID  LocationID  Latitude  Longitude  Demand
0         1           C001           2  4.597954 -74.098938      13
1         2           C002           3  4.687821 -74.075571      15
2         3           C003           4  4.709494 -74.107085      12
3         4           C004           5  4.605029 -74.097280      15
4         5           C005           6  4.648464 -74.164641      20

 VEHICULOS

   VehicleID StandardizedID  Capacity  Range
0          1           V001       130    170
1          2           V002       140    200
2          3           V003       120    180
3          4           V004       100     90
4          5           V005        70    100

 DEPOSITOS

   DepotID StandardizedID  LocationID  Longitude  Latitude
0        1           CD01           1 -74.153536  4.743359

 PARAMETROS

,Parameter,Value,Unit,Description
0,fuel_price,16300,COP/gallon,Standard gasoline price
1,fuel_efficiency_typical,30,km/gallon,Typical vehicle fuel efficiency estimate

### Caso 2

In [21]:
clients_C2 = pd.read_csv("Proyecto_A_Caso2/clients.csv")
depots_C2_raw = pd.read_csv("Proyecto_A_Caso2/depots.csv")
depot_C2 = depots_C2_raw.drop(columns=["Capacity"]).iloc[[0]]
vehicles_C2_raw = pd.read_csv("Proyecto_A_Caso2/vehicles.csv")
vehicles_C2 = vehicles_C2_raw[["VehicleID", "StandardizedID", "Capacity", "Range"]].copy()
parameters_C2 = pd.read_csv("Proyecto_A_Caso2/parameters_urban.csv")

print("CLIENTES")
display(clients_C2.head())

print("\n VEHICULOS")
display(vehicles_C2.head())

print("\n DEPOSITOS")
display(depot_C2.head())

print("\n PARAMETROS")
display(parameters_C2.head())

CLIENTES

   ClientID StandardizedID  LocationID  Latitude  Longitude  Demand
0         1           C001          13  4.632553 -74.196992      12
1         2           C002          14  4.601328 -74.155037      15
2         3           C003          15  4.732421 -74.101787      15
3         4           C004          16  4.638612 -74.194862       6
4         5           C005          17  4.727692 -74.110272       5

 VEHICULOS

   VehicleID StandardizedID    Capacity        Range
0          1           V001  131.921140   145.852071
1          2           V002  108.435620  1304.605971
2          3           V003   91.504255   953.172609
3          4           V004   32.896064    17.302304
4          5           V005   22.652628    16.627680

 DEPOSITOS

   DepotID StandardizedID  LocationID  Longitude  Latitude
0        1           CD01           1 -74.081242  4.750212

 PARAMETROS

,Parameter,Value,Unit,Description
0,C_fixed,50000,COP/vehicle,Fixed activation cost per vehicle
1,C_dist,2500,COP/km,Variable cost per kilometer (maintenance and w...
2,C_time,7600,COP/hour,Urban driver hourly cost
3,fuel_price,16300,COP/gallon,Gasoline price
4,fuel_efficiency_van_small_min,35,km/gallon,Small van minimum fuel efficiency

### Caso 3

In [23]:
clients_C3_raw = pd.read_csv("Proyecto_A_Caso3/clients.csv")
clients_C3= clients_C3_raw[["ClientID", "StandardizedID", "LocationID",
                                 "Latitude", "Longitude", "Demand"]].copy()
depots_C3_raw = pd.read_csv("Proyecto_A_Caso3/depots.csv")
depot_C3 = depots_C3_raw.drop(columns=["Capacity"]).iloc[[0]]
vehicles_C3_raw = pd.read_csv("Proyecto_A_Caso3/vehicles.csv")
vehicles_C3 = vehicles_C3_raw[["VehicleID", "StandardizedID", "Capacity", "Range"]].copy()
parameters_C3 = pd.read_csv("Proyecto_A_Caso3/parameters_urban.csv")

print("CLIENTES")
display(clients_C3.head())

print("\n VEHICULOS")
display(vehicles_C3.head())

print("\n DEPOSITOS")
display(depot_C3.head())

print("\n PARAMETROS")
display(parameters_C3.head())

CLIENTES

   ClientID StandardizedID  LocationID  Latitude  Longitude  Demand
0         1           C001          12  4.679769 -74.150806      13
1         2           C002          13  4.733831 -74.017996      15
2         3           C003          14  4.620928 -74.143655      16
3         4           C004          15  4.733074 -74.034583      22
4         5           C005          16  4.820900 -74.055887      14

 VEHICULOS

   VehicleID StandardizedID  Capacity  Range
0          1           V001       132    146
1          2           V002       136    196
2          3           V003       115    143
3          4           V004       158    174
4          5           V005       109    167

 DEPOSITOS

   DepotID StandardizedID  LocationID  Longitude  Latitude
0        1           CD01           1 -74.081242  4.750212

 PARAMETROS

,Parameter,Value,Unit,Description
0,C_fixed,50000,COP/vehicle,Fixed activation cost per vehicle
1,C_dist,2500,COP/km,Variable cost per kilometer (maintenance and w...
2,C_time,7600,COP/hour,Urban driver hourly cost
3,fuel_price,16300,COP/gallon,Gasoline price
4,fuel_efficiency_van_small_min,35,km/gallon,Small van minimum fuel efficiency