# **Proyecto 3:** Implementación de Metaheurísticas
## Intregantes

* Rodrigo Paz Londoño
* Sebastián Palma Mogollón
* Miguel Santiago Castillo Hernandez 

## Carga de datos

### Caso base

In [ ]:
import pandas as pd

clients_CB = pd.read_csv("Proyecto_Caso_Base/clients.csv")
depots_CB = pd.read_csv("Proyecto_Caso_Base/depots.csv")
vehicles_CB = pd.read_csv("Proyecto_Caso_Base/vehicles.csv")
# usar el promedio
caps_base = vehicles_CB["Capacity"]
Q_base = int(round(caps_base.mean()))
vehicles_CB["Capacity"] = Q_base
parameters_CB = pd.read_csv("Proyecto_Caso_Base/parameters_base.csv")

print("CLIENTES")
display(clients_CB.head())

print("\n VEHICULOS")
display(vehicles_CB.head())

print("\n DEPOSITOS")
display(depots_CB.head())

print("\n PARAMETROS")
display(parameters_CB.head())

CLIENTES

   ClientID StandardizedID  LocationID  Latitude  Longitude  Demand
0         1           C001           2  4.597954 -74.098938      13
1         2           C002           3  4.687821 -74.075571      15
2         3           C003           4  4.709494 -74.107085      12
3         4           C004           5  4.605029 -74.097280      15
4         5           C005           6  4.648464 -74.164641      20

 VEHICULOS

   VehicleID StandardizedID  Capacity  Range
0          1           V001       105    170
1          2           V002       105    200
2          3           V003       105    180
3          4           V004       105     90
4          5           V005       105    100

 DEPOSITOS

   DepotID StandardizedID  LocationID  Longitude  Latitude
0        1           CD01           1 -74.153536  4.743359

 PARAMETROS

,Parameter,Value,Unit,Description
0,fuel_price,16300,COP/gallon,Standard gasoline price
1,fuel_efficiency_typical,30,km/gallon,Typical vehicle fuel efficiency estimate

### Caso 2

In [ ]:
clients_C2 = pd.read_csv("Proyecto_A_Caso2/clients.csv")
depots_C2_raw = pd.read_csv("Proyecto_A_Caso2/depots.csv")
depot_C2 = depots_C2_raw.drop(columns=["Capacity"]).iloc[[0]]
vehicles_C2_raw = pd.read_csv("Proyecto_A_Caso2/vehicles.csv")
vehicles_C2 = vehicles_C2_raw[["VehicleID", "StandardizedID", "Capacity", "Range"]].copy()
# promedio
caps_2 = vehicles_C2["Capacity"]
Q_2 = int(round(caps_2.mean()))
vehicles_C2["Capacity"] = Q_2
parameters_C2 = pd.read_csv("Proyecto_A_Caso2/parameters_urban.csv")

print("CLIENTES")
display(clients_C2.head())

print("\n VEHICULOS")
display(vehicles_C2.head())

print("\n DEPOSITOS")
display(depot_C2.head())

print("\n PARAMETROS")
display(parameters_C2.head())

CLIENTES

   ClientID StandardizedID  LocationID  Latitude  Longitude  Demand
0         1           C001          13  4.632553 -74.196992      12
1         2           C002          14  4.601328 -74.155037      15
2         3           C003          15  4.732421 -74.101787      15
3         4           C004          16  4.638612 -74.194862       6
4         5           C005          17  4.727692 -74.110272       5

 VEHICULOS

   VehicleID StandardizedID  Capacity        Range
0          1           V001        68   145.852071
1          2           V002        68  1304.605971
2          3           V003        68   953.172609
3          4           V004        68    17.302304
4          5           V005        68    16.627680

 DEPOSITOS

   DepotID StandardizedID  LocationID  Longitude  Latitude
0        1           CD01           1 -74.081242  4.750212

 PARAMETROS

,Parameter,Value,Unit,Description
0,C_fixed,50000,COP/vehicle,Fixed activation cost per vehicle
1,C_dist,2500,COP/km,Variable cost per kilometer (maintenance and w...
2,C_time,7600,COP/hour,Urban driver hourly cost
3,fuel_price,16300,COP/gallon,Gasoline price
4,fuel_efficiency_van_small_min,35,km/gallon,Small van minimum fuel efficiency

### Caso 3

In [3]:
clients_C3_raw = pd.read_csv("Proyecto_A_Caso3/clients.csv")
clients_C3= clients_C3_raw[["ClientID", "StandardizedID", "LocationID",
                                 "Latitude", "Longitude", "Demand"]].copy()
depots_C3_raw = pd.read_csv("Proyecto_A_Caso3/depots.csv")
depot_C3 = depots_C3_raw.drop(columns=["Capacity"]).iloc[[0]]
vehicles_C3_raw = pd.read_csv("Proyecto_A_Caso3/vehicles.csv")
vehicles_C3 = vehicles_C3_raw[["VehicleID", "StandardizedID", "Capacity", "Range"]].copy()
caps_3 = vehicles_C3["Capacity"]
Q_3 = int(round(caps_3.mean()))
vehicles_C3["Capacity"] = Q_3
parameters_C3 = pd.read_csv("Proyecto_A_Caso3/parameters_urban.csv")

print("CLIENTES")
display(clients_C3.head())

print("\n VEHICULOS")
display(vehicles_C3.head())

print("\n DEPOSITOS")
display(depot_C3.head())

print("\n PARAMETROS")
display(parameters_C3.head())

CLIENTES

   ClientID StandardizedID  LocationID  Latitude  Longitude  Demand
0         1           C001          12  4.679769 -74.150806      13
1         2           C002          13  4.733831 -74.017996      15
2         3           C003          14  4.620928 -74.143655      16
3         4           C004          15  4.733074 -74.034583      22
4         5           C005          16  4.820900 -74.055887      14

 VEHICULOS

   VehicleID StandardizedID  Capacity  Range
0          1           V001        83    146
1          2           V002        83    196
2          3           V003        83    143
3          4           V004        83    174
4          5           V005        83    167

 DEPOSITOS

   DepotID StandardizedID  LocationID  Longitude  Latitude
0        1           CD01           1 -74.081242  4.750212

 PARAMETROS

,Parameter,Value,Unit,Description
0,C_fixed,50000,COP/vehicle,Fixed activation cost per vehicle
1,C_dist,2500,COP/km,Variable cost per kilometer (maintenance and w...
2,C_time,7600,COP/hour,Urban driver hourly cost
3,fuel_price,16300,COP/gallon,Gasoline price
4,fuel_efficiency_van_small_min,35,km/gallon,Small van minimum fuel efficiency

## Metodo Metaheurístico: Algoritmo Genético

Leer parámetros de costos

In [ ]:
def get_cost_parameters(params_df):

    def val(name):
        return float(params_df.loc[params_df["Parameter"] == name, "Value"].iloc[0])

    C_fixed = val("C_fixed")
    C_dist  = val("C_dist")
    C_time  = val("C_time")
    fuel_price   = val("fuel_price")                     # COP/gal
    fuel_eff_km  = val("fuel_efficiency_van_small_min")  # km/gal
    C_fuel_per_km = fuel_price / fuel_eff_km             # COP/km

    return C_fixed, C_dist, C_time, C_fuel_per_km

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx
import random
import time
from collections import defaultdict
from copy import deepcopy

class GeneticAlgorithmCVRP:

    def __init__(self, cost_matrix, demands, vehicle_capacity, num_customers, num_vehicles, C_fixed, C_dist, C_time, C_fuel_per_km, 
                 depots=None, population_size=100, generations=500, mutation_rate=0.2, crossover_rate=0.8, elitism_rate=0.1, tournament_size=5, 
                 avg_speed_kmh=50, capacity_penalty=1e4  
    ):
        self.cost_matrix = np.array(cost_matrix)
        self.num_customers = int(num_customers)
        self.num_vehicles = int(num_vehicles)
        self.depots = list(depots)

        self.non_depots = [i for i in range(1, self.num_customers + 1)
                           if i not in self.depots]

        if isinstance(demands, dict):
            self.demands = {int(k): float(v) for k, v in demands.items()}
        else:
            self.demands = {int(idx): float(val)
                            for idx, val in dict(demands).items()}

        self.Q = float(vehicle_capacity)

        # Hiperparametros GA
        self.population_size = population_size
        self.generations = generations
        self.mutation_rate = mutation_rate
        self.crossover_rate = crossover_rate
        self.elitism_rate = elitism_rate
        self.tournament_size = tournament_size

        # Coeficientes de costo
        self.C_fixed = float(C_fixed)
        self.C_dist = float(C_dist)
        self.C_time = float(C_time)
        self.C_fuel_per_km = float(C_fuel_per_km)
        self.avg_speed_kmh = float(avg_speed_kmh)
        self.capacity_penalty = float(capacity_penalty)

        # Resultados
        self.population = []
        self.best_solution = None
        self.best_fitness = float("inf")
        self.fitness_history = []
        self.best_solution_history = []

    # Inicializacion
    def initialize_population(self):
        population = []
        for _ in range(self.population_size):
            sol = self._create_random_solution()
            population.append(sol)
        self.population = population
        return population

    def _create_random_solution(self):
        cities = self.non_depots.copy()
        random.shuffle(cities)

        routes = [[] for _ in range(self.num_vehicles)]

        if random.random() < 0.5:
            base = len(cities) // self.num_vehicles
            rem = len(cities) % self.num_vehicles
            start = 0
            for k in range(self.num_vehicles):
                extra = 1 if k < rem else 0
                end = start + base + extra
                routes[k] = cities[start:end]
                start = end
        else:
            min_cities = min(1, len(cities) // self.num_vehicles) if self.num_vehicles > 0 else 0
            for k in range(self.num_vehicles):
                if len(cities) >= min_cities:
                    routes[k] = cities[:min_cities]
                    cities = cities[min_cities:]
            while cities:
                k = random.randint(0, self.num_vehicles - 1)
                routes[k].append(cities.pop(0))

        for k in range(self.num_vehicles):
            if len(routes[k]) > 3:
                routes[k] = self._random_2opt(routes[k])

        return routes

    def _random_2opt(self, route, iterations=5):
        best_route = route.copy()
        best_cost = self._route_cost(best_route)

        for _ in range(iterations):
            if len(best_route) < 4:
                break
            i, j = sorted(random.sample(range(len(best_route)), 2))
            new_route = best_route[:i] + best_route[i:j+1][::-1] + best_route[j+1:]
            new_cost = self._route_cost(new_route)
            if new_cost < best_cost:
                best_route, best_cost = new_route, new_cost

        return best_route

    # Cargas y costos
    def _route_load(self, route):
        return sum(self.demands.get(c, 0.0) for c in route)

    def _route_distance(self, route):
        if not route:
            return 0.0
        depot = self.depots[0]
        dist = self.cost_matrix[depot-1, route[0]-1]
        for i in range(len(route) - 1):
            dist += self.cost_matrix[route[i]-1, route[i+1]-1]
        dist += self.cost_matrix[route[-1]-1, depot-1]
        return float(dist)

    def _route_time(self, distance):
        if self.avg_speed_kmh <= 0:
            return 0.0
        return distance / self.avg_speed_kmh

    def _route_cost(self, route):
        if not route:
            return 0.0

        d = self._route_distance(route)
        t = self._route_time(d)
        fuel_cost = self.C_fuel_per_km * d

        variable = self.C_dist * d + self.C_time * t + fuel_cost
        return self.C_fixed + variable

    def evaluate_fitness(self, solution):
        total_cost = 0.0
        penalty = 0.0

        for route in solution:
            total_cost += self._route_cost(route)
            load = self._route_load(route)
            if load > self.Q:
                excess = load - self.Q
                penalty += self.capacity_penalty * excess

        return total_cost + penalty


    # Reparacion
    def _repair_solution(self, solution):
        included = []
        for r in solution:
            included.extend(r)

        city_pos = defaultdict(list)
        for r_idx, r in enumerate(solution):
            for pos, city in enumerate(r):
                city_pos[city].append((r_idx, pos))

        duplicates = {c: pos for c, pos in city_pos.items() if len(pos) > 1}
        missing = [c for c in self.non_depots if c not in included]

        to_remove = []
        for c, positions in duplicates.items():
            for r_idx, pos in positions[1:]:
                to_remove.append((r_idx, pos))
        to_remove.sort(reverse=True)
        for r_idx, pos in to_remove:
            solution[r_idx].pop(pos)

        random.shuffle(missing)
        for city in missing:
            sizes = [(i, len(r)) for i, r in enumerate(solution)]
            r_idx = min(sizes, key=lambda x: x[1])[0]
            insert_pos = random.randint(0, len(solution[r_idx]))
            solution[r_idx].insert(insert_pos, city)

        solution = self._repair_capacity(solution)
        return solution

    def _repair_capacity(self, solution):
        routes = deepcopy(solution)
        loads = [self._route_load(r) for r in routes]

        def recompute():
            over = [i for i, L in enumerate(loads) if L > self.Q]
            under = [i for i, L in enumerate(loads) if L < self.Q and routes[i]]
            empty = [i for i, r in enumerate(routes) if len(r) == 0]
            return over, under, empty

        over, under, empty = recompute()

        while over and (under or empty):
            i = over[0]
            if not routes[i]:
                over, under, empty = recompute()
                continue

            idx_city = max(
                range(len(routes[i])),
                key=lambda idx: self.demands.get(routes[i][idx], 0.0)
            )
            city = routes[i].pop(idx_city)
            demand_city = self.demands.get(city, 0.0)
            loads[i] -= demand_city

            if empty:
                j = empty.pop(0)
            else:
                j = min(under, key=lambda k: self.Q - loads[k])

            pos = random.randint(0, len(routes[j]))
            routes[j].insert(pos, city)
            loads[j] += demand_city

            over, under, empty = recompute()

        return routes

    # Seleccion, crossover y mutacion 

    def select_parents(self):
        def tournament():
            participants = random.sample(range(len(self.population)), self.tournament_size)
            fits = [(p, self.evaluate_fitness(self.population[p])) for p in participants]
            winner_idx = min(fits, key=lambda x: x[1])[0]
            return self.population[winner_idx]
        return tournament(), tournament()

    def _remove_duplicates(self, route):
        seen, res = set(), []
        for c in route:
            if c not in seen:
                seen.add(c)
                res.append(c)
        return res

    def _route_exchange_crossover(self, p1, p2):
        c1, c2 = deepcopy(p1), deepcopy(p2)
        if self.num_vehicles < 2:
            return c1, c2

        k = random.randint(1, max(1, self.num_vehicles // 2))
        idxs = random.sample(range(self.num_vehicles), k)
        for i in idxs:
            c1[i], c2[i] = c2[i], c1[i]

        c1 = self._repair_solution(c1)
        c2 = self._repair_solution(c2)
        return c1, c2

    def _route_merge_crossover(self, p1, p2):
        c1 = [[] for _ in range(self.num_vehicles)]
        c2 = [[] for _ in range(self.num_vehicles)]
        for k in range(self.num_vehicles):
            if p1[k] and p2[k]:
                p1c = random.randint(0, len(p1[k]))
                p2c = random.randint(0, len(p2[k]))
                merged1 = p1[k][:p1c] + p2[k][p2c:]
                merged2 = p2[k][:p2c] + p1[k][p1c:]
                c1[k] = self._remove_duplicates(merged1)
                c2[k] = self._remove_duplicates(merged2)
        c1 = self._repair_solution(c1)
        c2 = self._repair_solution(c2)
        return c1, c2

    def crossover(self, parent1, parent2):
        if random.random() > self.crossover_rate:
            return deepcopy(parent1), deepcopy(parent2)
        if random.random() < 0.5:
            return self._route_exchange_crossover(parent1, parent2)
        else:
            return self._route_merge_crossover(parent1, parent2)

    def _swap_mutation(self, sol):
        m = deepcopy(sol)
        candidates = [i for i, r in enumerate(m) if len(r) >= 2]
        if not candidates:
            return m
        r_idx = random.choice(candidates)
        r = m[r_idx]
        i, j = random.sample(range(len(r)), 2)
        r[i], r[j] = r[j], r[i]
        return m

    def _insert_mutation(self, sol):
        m = deepcopy(sol)
        candidates = [i for i, r in enumerate(m) if len(r) >= 2]
        if not candidates:
            return m
        r_idx = random.choice(candidates)
        r = m[r_idx]
        old = random.randint(0, len(r) - 1)
        new = random.randint(0, len(r) - 1)
        while new == old:
            new = random.randint(0, len(r) - 1)
        city = r.pop(old)
        r.insert(new, city)
        return m

    def _inversion_mutation(self, sol):
        m = deepcopy(sol)
        candidates = [i for i, r in enumerate(m) if len(r) >= 3]
        if not candidates:
            return m
        r_idx = random.choice(candidates)
        r = m[r_idx]
        i, j = sorted(random.sample(range(len(r)), 2))
        m[r_idx] = r[:i] + r[i:j+1][::-1] + r[j+1:]
        return m

    def _redistribution_mutation(self, sol):
        m = deepcopy(sol)
        if self.num_vehicles < 2:
            return m
        non_empty = [i for i, r in enumerate(m) if r]
        if not non_empty:
            return m
        from_idx = random.choice(non_empty)
        to_idx = random.randint(0, self.num_vehicles - 1)
        while to_idx == from_idx:
            to_idx = random.randint(0, self.num_vehicles - 1)
        r_from = m[from_idx]
        pos = random.randint(0, len(r_from) - 1)
        city = r_from.pop(pos)
        insert_pos = random.randint(0, len(m[to_idx]))
        m[to_idx].insert(insert_pos, city)
        return m

    def mutate(self, solution):
        if random.random() > self.mutation_rate:
            return solution
        mtype = random.choice(["swap", "insert", "invert", "redistribute"])
        if mtype == "swap":
            mutated = self._swap_mutation(solution)
        elif mtype == "insert":
            mutated = self._insert_mutation(solution)
        elif mtype == "invert":
            mutated = self._inversion_mutation(solution)
        else:
            mutated = self._redistribution_mutation(solution)
        return self._repair_solution(mutated)

    # Evolucion

    def evolve_population(self):
        pop_fit = [(i, self.evaluate_fitness(sol))
                   for i, sol in enumerate(self.population)]
        pop_fit.sort(key=lambda x: x[1])

        num_elite = max(1, int(self.elitism_rate * self.population_size))
        elite_idx = [idx for idx, _ in pop_fit[:num_elite]]
        new_pop = [deepcopy(self.population[idx]) for idx in elite_idx]

        while len(new_pop) < self.population_size:
            p1, p2 = self.select_parents()
            c1, c2 = self.crossover(p1, p2)
            c1 = self.mutate(c1)
            c2 = self.mutate(c2)
            new_pop.append(c1)
            if len(new_pop) < self.population_size:
                new_pop.append(c2)

        self.population = new_pop

    def solve(self, verbose=True, early_stopping_generations=50):
        self.initialize_population()
        best_sol = None
        best_fit = float("inf")
        no_improve = 0
        t0 = time.time()

        for g in range(self.generations):
            self.evolve_population()

            current_best = None
            current_best_fit = float("inf")
            for sol in self.population:
                f = self.evaluate_fitness(sol)
                if f < current_best_fit:
                    current_best_fit = f
                    current_best = sol

            if current_best_fit < best_fit:
                best_fit = current_best_fit
                best_sol = deepcopy(current_best)
                no_improve = 0
            else:
                no_improve += 1

            self.fitness_history.append(current_best_fit)
            self.best_solution_history.append(best_fit)

            if verbose and g % 10 == 0:
                elapsed = time.time() - t0
                print(f"Gen {g}: best={best_fit:.2f}, current={current_best_fit:.2f}, "
                      f"time={elapsed:.1f}s")

            if no_improve >= early_stopping_generations:
                if verbose:
                    print(f"Early stopping en gen {g}")
                break

        self.best_solution = best_sol
        self.best_fitness = best_fit

        if verbose:
            print(f"Terminado. Mejor fitness = {best_fit:.2f}")

        return best_sol, best_fit

    def plot_convergence(self):
        if not self.fitness_history:
            print("Aún no se ha ejecutado solve().")
            return
        plt.figure(figsize=(8, 5))
        plt.plot(self.fitness_history, label="Best gen")
        plt.plot(self.best_solution_history, label="Best global")
        plt.xlabel("Generación")
        plt.ylabel("Fitness")
        plt.grid(True)
        plt.legend()
        plt.tight_layout()
        plt.show()

    def get_solution_details(self):
        if self.best_solution is None:
            return "No hay solución. Ejecuta solve() primero."

        depot = self.depots[0]
        lines = [f"Mejor fitness: {self.best_fitness:.2f}", f"Depósito: {depot}\n"]
        total_cost = 0.0

        for k, route in enumerate(self.best_solution):
            if not route:
                lines.append(f"Vehículo {k+1}: ruta vacía.")
                continue

            nodes = [depot] + route + [depot]
            route_str = " -> ".join(str(n) for n in nodes)
            cost = self._route_cost(route)
            load = self._route_load(route)
            total_cost += cost
            lines.append(
                f"Vehículo {k+1}: {route_str} | Carga={load:.1f} | Costo={cost:.2f}"
            )

        lines.append(f"\nSuma de costos de rutas: {total_cost:.2f}")
        return "\n".join(lines)