# **Proyecto B:** Optimización en la Planificación de Entregas Salva Vidas con Flota Híbrida para LogistiCo
## Intregantes

* Rodrigo Paz Londoño
* Sebastián Palma Mogollón
* Miguel Santiago Castillo Hernandez

## Descripcion de los archivos del dataset

## Carga de datos

### Caso 1 - CVRP Base

In [32]:
import pandas as pd

clients_C1 = pd.read_csv("Caso 1 - CVRP Base/clients.csv")
depots_C1 = pd.read_csv("Caso 1 - CVRP Base/depots.csv")
vehicles_C1 = pd.read_csv("Caso 1 - CVRP Base/vehicles.csv")
parameters_C1 = pd.read_csv("Caso 1 - CVRP Base/parameters_base.csv", sep=";")

In [33]:
clients_C1.head()

   ClientID StandardizedID  LocationID  Latitude  Longitude  Demand
0         1           C001           2  4.597954 -74.098938      13
1         2           C002           3  4.687821 -74.075571      15
2         3           C003           4  4.709494 -74.107085      12
3         4           C004           5  4.605029 -74.097280      15
4         5           C005           6  4.648464 -74.164641      20

In [34]:
depots_C1.head()

   DepotID StandardizedID  LocationID  Longitude  Latitude
0        1           CD01           1 -74.153536  4.743359

In [35]:
vehicles_C1.head()

   VehicleID StandardizedID  Capacity  Range
0          1           V001       130    170
1          2           V002       140    200
2          3           V003       120    180
3          4           V004       100     90
4          5           V005        70    100

In [36]:
parameters_C1.head()

,Parameter,Value,Unit,Description
0,fuel_price,16300.0,COP/liter,Fuel price for vehicles
1,cost_transport_km,3000.0,COP/km,Transport cost per kilometer
2,cost_maintenance_km,500.0,COP/km,Maintenance cost per kilometer
3,operational_cost_vehicle,50000.0,COP/vehicle/day,Fixed daily cost per vehicle
4,fuel_efficiency,7.9,km/L,Fuel efficiency of vehicles

### Caso 2 - Simplificado Proyecto-Específico

In [37]:
clients_C2 = pd.read_csv("Caso 2 - Simplificado Proyecto-Específico/clients.csv")
depots_C2 = pd.read_csv("Caso 2 - Simplificado Proyecto-Específico/depots.csv")
vehicles_C2 = pd.read_csv("Caso 2 - Simplificado Proyecto-Específico/vehicles.csv")
parameters_C2 = pd.read_csv("Caso 2 - Simplificado Proyecto-Específico/parameters_rural.csv")

In [38]:
clients_C2.head()

,ClientID,StandardizedID,LocationID,Latitude,Longitude,Demand,TimeWindow
0,1,C001,2,12.341057,-71.723837,25.0,13:20-13:50
1,2,C002,3,12.310993,-71.719252,9.0,13:30-14:00
2,3,C003,4,12.326781,-71.668190,18.0,10:15-10:45
3,4,C004,5,12.330562,-71.694530,22.0,13:00-13:30
4,5,C005,6,12.346781,-71.708920,13.0,14:50-15:20

In [39]:
depots_C2.head()

   DepotID StandardizedID  LocationID  Latitude  Longitude
0        1           CD01           1  12.31846 -71.716203

In [40]:
vehicles_C2.head()

   VehicleID StandardizedID   Type  Capacity  Range  Speed
0          1           V001    4x4     200.0  804.0   50.0
1          2           V002  drone      25.0  480.0  135.0
2          3           V003  drone      25.0  480.0  135.0

In [41]:
parameters_C2.head()

       Parameter  Value         Unit                           Description
0  C_fixed_drone  30000  COP/vehicle      Fixed activation cost for drones
1  C_fixed_truck  60000  COP/vehicle  Fixed activation cost for 4x4 trucks
2   C_dist_drone    800       COP/km              Drone maintenance per km
3   C_dist_truck   3000       COP/km              Truck maintenance per km
4   C_time_drone   2000     COP/hour            Drone operator hourly cost

### Caso 3 - Avanzado Realista

In [42]:
clients_C3 = pd.read_csv("Caso 3 - Avanzado Realista/clients.csv")
depots_C3 = pd.read_csv("Caso 3 - Avanzado Realista/depots.csv")
vehicles_C3 = pd.read_csv("Caso 3 - Avanzado Realista/vehicles.csv")
parameters_C3 = pd.read_csv("Caso 3 - Avanzado Realista/parameters_rural.csv")

In [43]:
clients_C3.head()

,ClientID,StandardizedID,LocationID,Latitude,Longitude,Demand,TimeWindow
0,1,C001,2,12.341057,-71.723837,25.0,13:05-14:05
1,2,C002,3,12.310993,-71.719252,9.0,13:15-14:15
2,3,C003,4,12.326781,-71.668190,18.0,10:00-10:60
3,4,C004,5,12.330562,-71.694530,22.0,12:45-13:45
4,5,C005,6,12.346781,-71.708920,13.0,14:35-15:35

In [44]:
depots_C3.head()

   DepotID StandardizedID  LocationID  Latitude  Longitude
0        1           CD01           1  12.31846 -71.716203

In [45]:
vehicles_C3.head()

   VehicleID StandardizedID   Type  Capacity  Range  Speed
0          1           V001    4x4     200.0  804.0   50.0
1          2           V002  drone      25.0  480.0  135.0
2          3           V003  drone      25.0  480.0  135.0

In [46]:
parameters_C3.head()

       Parameter  Value         Unit                           Description
0  C_fixed_drone  30000  COP/vehicle      Fixed activation cost for drones
1  C_fixed_truck  60000  COP/vehicle  Fixed activation cost for 4x4 trucks
2   C_dist_drone    800       COP/km              Drone maintenance per km
3   C_dist_truck   3000       COP/km              Truck maintenance per km
4   C_time_drone   2000     COP/hour            Drone operator hourly cost

## Procesamiento

### Caso 1 - CVRP Base

#### Validaciones de integridad de los datos

In [47]:
# Funciones para validar cordenadas

def validar_latitud(latitud): 
    if -90 <= latitud <= 90:
        return True
    return False

def validar_longitud(longitud): 
    if -180 <= longitud <= 180:
        return True
    return False

# Verificaciones Clientes

print("\n===== VALIDACIONES CLIENTES CASO 1 =====")

if clients_C1["Latitude"].apply(validar_latitud).all():
    print("Latitudes validas para todos los clientes")

if clients_C1["Longitude"].apply(validar_longitud).all():
    print("Longitudes validas para todos los clientes")

if (clients_C1["Demand"] >= 0).all():
    print("Todas las demandas de los clientes son mayores a 0")

if not clients_C1["StandardizedID"].duplicated().any():
    print("No hay clientes con ID repetidos")

# Verificaciones Depositos

print("\n===== VALIDACIONES DEPOSITOS CASO 1 =====")

if depots_C1["Latitude"].apply(validar_latitud).all():
    print("Latitudes validas para todos los depositos")

if depots_C1["Longitude"].apply(validar_longitud).all():
    print("Longitudes validas para todos los depositos")

if not depots_C1["StandardizedID"].duplicated().any():
    print("No hay depositos con ID repetidos")

# Verificaciones Vehiculos

print("\n===== VALIDACIONES VEHICULOS CASO 1 =====")

if (vehicles_C1["Capacity"] > 0).any():
    print("Todas las capacidades de los vehiculos no son negativas")

if (vehicles_C1["Range"] > 0).any():
    print("Todas los rangos de los vehiculos no son negativas")

if not vehicles_C1["StandardizedID"].duplicated().any():
    print("No hay vehiculos con ID repetidos")

===== VALIDACIONES CLIENTES CASO 1 =====
Latitudes validas para todos los clientes
Longitudes validas para todos los clientes
Todas las demandas de los clientes son mayores a 0
No hay clientes con ID repetidos

===== VALIDACIONES DEPOSITOS CASO 1 =====
Latitudes validas para todos los depositos
Longitudes validas para todos los depositos
No hay depositos con ID repetidos

===== VALIDACIONES VEHICULOS CASO 1 =====
Todas las capacidades de los vehiculos no son negativas
Todas los rangos de los vehiculos no son negativas
No hay vehiculos con ID repetidos

#### Matrices de distancias y costos

In [48]:
import numpy as np
from math import radians, sin, cos, sqrt, atan2

# Funcion para calcular distancias

def funcion_haversine(Latitud_A, Longitud_A, Latitud_B, Longitud_B):
    Radio = 6371 
    Latitud_A, Longitud_A, Latitud_B, Longitud_B = map(radians, [Latitud_A, Longitud_A, Latitud_B, Longitud_B])
    Distancia_latitud = Latitud_A - Latitud_B
    Distancia_longitud = Longitud_A - Longitud_B
    Raiz = sqrt((sin(Distancia_latitud/2)**2) + (cos(Latitud_A)*cos(Latitud_B)*(sin(Distancia_longitud/2)**2)))
    Resultado = 2 * Radio * atan2(Raiz, 1 - Raiz)
    return Resultado

# Creacion de la matriz distancia

Puntos = pd.concat([depots_C1[["StandardizedID","Latitude","Longitude"]], clients_C1[["StandardizedID","Latitude","Longitude"]]]).reset_index(drop=True)
n = len(Puntos)
Matriz_distancia = np.zeros((n,n))

for i in range(n):
    for j in range(n):
        Matriz_distancia[i,j] = funcion_haversine(Puntos.loc[i,"Latitude"], Puntos.loc[i,"Longitude"], Puntos.loc[j,"Latitude"], Puntos.loc[j,"Longitude"])

Distacias_C1 = pd.DataFrame(Matriz_distancia, columns=Puntos["StandardizedID"], index=Puntos["StandardizedID"])
Distacias_C1.to_csv("Caso 1 - CVRP Base/distance_matrix_case1.csv", index=True)

# Creacion de la matriz de tiempos 

Velocidad_promedio = 40 
Matriz_tiempo_horas = Matriz_distancia / Velocidad_promedio 
Matriz_tiempo_minutos = Matriz_tiempo_horas * 60  
Tiempo_C1 = pd.DataFrame(Matriz_tiempo_minutos, columns=Puntos["StandardizedID"], index=Puntos["StandardizedID"])
Tiempo_C1.to_csv("Caso 1 - CVRP Base/time_matrix_case1.csv", index=True)

# Creacion de la matriz de costos

params = dict(zip(parameters_C1["Parameter"], parameters_C1["Value"]))
Pf = params["fuel_price"]                 
Ct = params["cost_transport_km"]          
Cm = params["cost_maintenance_km"]       
Co = params["operational_cost_vehicle"]   
R  = params["fuel_efficiency"]           
Salario_condutor_minuto = params["driver_salary_minute"]
Matriz_costos = np.zeros((n,n))

for i in range(n):
    for j in range(n):
        Distancia = Matriz_distancia[i,j]
        Litros = Distancia / R
        Costo_combustible = Litros * Pf
        Costos_varios = Distancia * (Ct + Cm)
        Costo_salario = Matriz_tiempo_minutos[i,j] * Salario_condutor_minuto
        Precio_recorrido = Costo_combustible + Costos_varios + Costo_salario
        Matriz_costos[i,j] = Precio_recorrido

Costos_C1 = pd.DataFrame(Matriz_costos, columns = Puntos["StandardizedID"], index = Puntos["StandardizedID"])
Costos_C1.to_csv("Caso 1 - CVRP Base/cost_matrix_case1.csv", index=True)

In [49]:
Distacias_C1.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,...,C015,C016,C017,C018,C019,C020,C021,C022,C023,C024
StandardizedID,,,,,,,,,,,,,,,,,,,,,
CD01,0.000000,17.286825,10.628967,6.381006,16.618729,10.632248,9.738686,15.447779,10.654923,15.260083,...,16.834419,21.242656,14.550039,10.196442,12.216835,3.529100,14.313916,15.071266,4.312636,18.716717
C001,17.286825,0.000000,10.331181,12.447666,0.807915,9.203019,7.542753,13.978915,9.930116,6.412400,...,0.861627,4.726032,3.476998,7.096530,13.218733,16.747529,18.489124,3.337066,14.984307,3.792068
C002,10.628967,10.331181,0.000000,4.244684,9.522313,10.807065,5.775244,6.022198,11.526612,12.736950,...,9.537494,15.061889,9.681241,6.459504,3.502558,8.316622,8.641148,7.053344,6.643383,13.509178
C003,6.381006,12.447666,4.244684,0.000000,11.677432,9.320279,5.484354,9.515809,9.831154,12.709651,...,11.808116,16.950151,10.599694,6.216130,6.350430,4.443322,10.038049,9.620884,2.652226,14.849076
C004,16.618729,0.807915,9.522313,11.677432,0.000000,8.898098,6.869694,13.245904,9.655214,6.530131,...,0.344396,5.533000,3.264033,6.466689,12.425502,15.998823,17.701908,2.546812,14.229390,4.442109

In [50]:
Tiempo_C1.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,...,C015,C016,C017,C018,C019,C020,C021,C022,C023,C024
StandardizedID,,,,,,,,,,,,,,,,,,,,,
CD01,0.000000,25.930238,15.943451,9.571508,24.928094,15.948372,14.608029,23.171669,15.982384,22.890124,...,25.251628,31.863983,21.825058,15.294663,18.325253,5.293650,21.470873,22.606899,6.468953,28.075076
C001,25.930238,0.000000,15.496772,18.671499,1.211872,13.804529,11.314130,20.968373,14.895174,9.618599,...,1.292440,7.089047,5.215496,10.644796,19.828099,25.121293,27.733686,5.005598,22.476461,5.688101
C002,15.943451,15.496772,0.000000,6.367026,14.283469,16.210597,8.662866,9.033297,17.289919,19.105425,...,14.306240,22.592834,14.521862,9.689255,5.253837,12.474932,12.961722,10.580016,9.965074,20.263766
C003,9.571508,18.671499,6.367026,0.000000,17.516148,13.980419,8.226531,14.273713,14.746731,19.064476,...,17.712174,25.425227,15.899541,9.324195,9.525645,6.664984,15.057074,14.431327,3.978338,22.273613
C004,24.928094,1.211872,14.283469,17.516148,0.000000,13.347148,10.304542,19.868856,14.482821,9.795196,...,0.516594,8.299500,4.896050,9.700033,18.638252,23.998235,26.552862,3.820218,21.344085,6.663163

In [51]:
Costos_C1.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,...,C015,C016,C017,C018,C019,C020,C021,C022,C023,C024
StandardizedID,,,,,,,,,,,,,,,,,,,,,
CD01,0.000000,104814.969418,64446.471249,38689.862383,100764.111036,64466.363443,59048.439151,93664.306830,64603.845759,92526.249521,...,102071.899039,128800.299322,88221.048085,61823.945818,74074.167191,21397.944143,86789.365821,91381.400240,26148.743942,113484.811965
C001,104814.969418,0.000000,62640.908414,75473.761180,4898.619485,55800.539151,45733.871299,84758.163254,60209.132859,38880.213752,...,5224.289325,28655.281788,21082.030865,43028.294110,80148.958114,101545.059923,112104.849219,20233.583393,90854.143383,22992.390331
C002,64446.471249,62640.908414,0.000000,25736.732247,57736.507504,65526.324746,35016.956202,36514.309223,69889.149684,77227.773616,...,57828.553105,91324.543332,58700.136007,39165.818243,21237.012678,50426.056725,52393.753644,42766.441170,40280.729865,81910.009363
C003,38689.862383,75473.761180,25736.732247,0.000000,70803.612671,56511.519598,33253.209148,57697.072605,59609.100339,77062.249190,...,71595.986750,102773.615918,64268.978026,37690.176361,38504.474306,26941.135070,60863.565194,58334.174902,16081.202638,90034.194581
C004,100764.111036,4898.619485,57736.507504,70803.612671,0.000000,53951.717034,41652.923056,80313.705506,58542.323342,39594.052067,...,2088.170589,33548.163317,19790.768476,39209.384754,75339.371593,97005.444483,107331.732416,15442.048292,86276.864906,26933.777291

### Caso 2- Simplificado Proyecto-Específico

#### Validaciones de integridad de los datos

In [52]:
# Funciones para validar cordenadas

def validar_latitud(latitud): 
    if -90 <= latitud <= 90:
        return True
    return False

def validar_longitud(longitud): 
    if -180 <= longitud <= 180:
        return True
    return False

def validar_Tiempos(Tiempo): 
    inicio = Tiempo.split("-")[0]
    final = Tiempo.split("-")[1]
    if final <= inicio:
        return False 
    return True

# Verificaciones Clientes

print("\n===== VALIDACIONES CLIENTES CASO 2 =====")

if clients_C2["Latitude"].apply(validar_latitud).all():
    print("Latitudes validas para todos los clientes")

if clients_C2["Longitude"].apply(validar_longitud).all():
    print("Longitudes validas para todos los clientes")

if (clients_C2["Demand"] >= 0).all():
    print("Todas las demandas de los clientes son mayores a 0")

if not clients_C2["StandardizedID"].duplicated().any():
    print("No hay clientes con ID repetidos")

if  clients_C2["TimeWindow"].apply(validar_Tiempos).all():
    print("Todas las ventanas de tiempo son validas")

# Verificaciones Depositos

print("\n===== VALIDACIONES DEPOSITOS CASO 2 =====")

if depots_C2["Latitude"].apply(validar_latitud).all():
    print("Latitudes validas para todos los depositos")

if depots_C2["Longitude"].apply(validar_longitud).all():
    print("Longitudes validas para todos los depositos")

if not depots_C2["StandardizedID"].duplicated().any():
    print("No hay depositos con ID repetidos")

# Verificaciones Vehiculos

print("\n===== VALIDACIONES VEHICULOS CASO 2 =====")

if (vehicles_C2["Capacity"] > 0).any():
    print("Todas las capacidades de los vehiculos no son negativas")

if (vehicles_C2["Range"] > 0).any():
    print("Todas los rangos de los vehiculos no son negativas")

if not vehicles_C2["StandardizedID"].duplicated().any():
    print("No hay vehiculos con ID repetidos")

===== VALIDACIONES CLIENTES CASO 2 =====
Latitudes validas para todos los clientes
Longitudes validas para todos los clientes
Todas las demandas de los clientes son mayores a 0
No hay clientes con ID repetidos
Todas las ventanas de tiempo son validas

===== VALIDACIONES DEPOSITOS CASO 2 =====
Latitudes validas para todos los depositos
Longitudes validas para todos los depositos
No hay depositos con ID repetidos

===== VALIDACIONES VEHICULOS CASO 2 =====
Todas las capacidades de los vehiculos no son negativas
Todas los rangos de los vehiculos no son negativas
No hay vehiculos con ID repetidos

#### Matrices de distancias, costos y tiempo

In [53]:
import numpy as np
from math import radians, sin, cos, sqrt, atan2

# Funcion para calcular distancias

def funcion_haversine(Latitud_A, Longitud_A, Latitud_B, Longitud_B):
    Radio = 6371 
    Latitud_A, Longitud_A, Latitud_B, Longitud_B = map(radians, [Latitud_A, Longitud_A, Latitud_B, Longitud_B])
    Distancia_latitud = Latitud_A - Latitud_B
    Distancia_longitud = Longitud_A - Longitud_B
    Raiz = sqrt((sin(Distancia_latitud/2)**2) + (cos(Latitud_A)*cos(Latitud_B)*(sin(Distancia_longitud/2)**2)))
    Resultado = 2 * Radio * atan2(Raiz, 1 - Raiz)
    return Resultado

# Creacion de la matriz distancia

Puntos = pd.concat([depots_C2[["StandardizedID","Latitude","Longitude"]], clients_C2[["StandardizedID","Latitude","Longitude"]]]).reset_index(drop=True)
n = len(Puntos)
Matriz_distancia = np.zeros((n,n))
distanciasP = {}
for i in range(n):
    for j in range(n):
        Matriz_distancia[i,j] = funcion_haversine(Puntos.loc[i,"Latitude"], Puntos.loc[i,"Longitude"], Puntos.loc[j,"Latitude"], Puntos.loc[j,"Longitude"])
        distanciasP[(Puntos.loc[i, "StandardizedID"],Puntos.loc[j, "StandardizedID"])] = Matriz_distancia[i,j]

Distacias_C2 = pd.DataFrame(Matriz_distancia, columns=Puntos["StandardizedID"], index=Puntos["StandardizedID"])
Distacias_C2.to_csv("Caso 2 - Simplificado Proyecto-Específico/distance_matrix_case2.csv", index=True)

# Creacion de la matriz de tiempos por vehiculo

matriz_tiempo_vehiculos = []

for i, vehiculo in vehicles_C2.iterrows():
    velocidad = vehiculo["Speed"]
    tiempo_horas = Matriz_distancia / velocidad
    matriz_tiempo_vehiculos.append(tiempo_horas)
    Tiempo_C2 = pd.DataFrame(tiempo_horas, columns=Puntos["StandardizedID"], index=Puntos["StandardizedID"])
    Tiempo_C2.to_csv("Caso 2 - Simplificado Proyecto-Específico/time_matrix_case2"+ vehiculo["StandardizedID"] +".csv", index=True)

# Creacion de la matriz de costos por vehiculo 

def preciocalcular(distancia, tiempo, c_fixed, c_dist, c_time, p_combustible, gasto_conbustible):
    costosManteniento = distancia*c_dist
    costsoTiempo = tiempo*c_time
    costsoConbustible = (distancia*p_combustible)/gasto_conbustible
    return(c_fixed + costosManteniento+ costsoTiempo+costsoConbustible)

params = dict(zip(parameters_C2["Parameter"], parameters_C2["Value"]))
C_fixed_drone = float(params["C_fixed_drone"])
C_fixed_truck = float(params["C_fixed_truck"])
C_dist_drone = float(params["C_dist_drone"])
C_dist_truck = float(params["C_dist_truck"])
C_time_drone = float(params["C_time_drone"])
C_time_truck = float(params["C_time_truck"])
energy_price_drone = float(params["energy_price_drone"])
fuel_price_truck = float(params["fuel_price_truck"])
energy_consumption_drone_min = float(params["energy_consumption_drone_min"])
energy_consumption_drone_max = float(params["energy_consumption_drone_max"])
energy_consumption_drone = (energy_consumption_drone_min+energy_consumption_drone_max )/2
fuel_efficiency_truck_min = float( params["fuel_efficiency_truck_min"])
fuel_efficiency_truck_max = float( params["fuel_efficiency_truck_max"])
fuel_efficiency_truck = (fuel_efficiency_truck_min+fuel_efficiency_truck_max)/2
start_time = params["start_time"]

Matriz_costos = {}

for i, vehiculo in vehicles_C2.iterrows():
    if vehiculo["Type"] == "drone":
        costo = preciocalcular(Matriz_distancia,matriz_tiempo_vehiculos[i], C_fixed_drone,C_dist_drone,  C_time_drone,energy_price_drone,  energy_consumption_drone)
    else:
        costo = preciocalcular(Matriz_distancia,matriz_tiempo_vehiculos[i], C_fixed_truck,C_time_truck,  C_time_drone,fuel_price_truck,  fuel_efficiency_truck)
    Costos_C2 = pd.DataFrame(costo, columns = Puntos["StandardizedID"], index = Puntos["StandardizedID"])
    for i in Costos_C2.index:
        for j in Costos_C2.columns:
          Matriz_costos[(vehiculo["StandardizedID"], i, j)] = Costos_C2.loc[i, j]
    Costos_C2.to_csv("Caso 2 - Simplificado Proyecto-Específico/cost_matrix_case2" + vehiculo["StandardizedID"] +".csv", index=True)

# Cambiar el formato de las ventanas de tiempo

clientesInicio = []
clientesFinal = []
for i, cliente in clients_C2.iterrows():
    inicio = cliente["TimeWindow"].split("-")[0]
    final = cliente["TimeWindow"].split("-")[1]
    horasInicio = float(inicio.split(":")[0])
    minutosInicio = float(inicio.split(":")[1])
    horasFin = float(final.split(":")[0])
    minutosFin = float(final.split(":")[1])
    nuevaFormaInicio = horasInicio*60 + minutosInicio
    nuevaFormaFin = horasFin*60 + minutosFin
    clientesInicio.append(nuevaFormaInicio)
    clientesFinal.append(nuevaFormaFin)

clients_C2["StartWindow"] = clientesInicio
clients_C2["EndtWindow"] = clientesFinal
clients_C2.head()
depots_C2["Demand"] = 0
inicio = start_time
horasInicio = float(inicio.split(":")[0])
minutosInicio = float(inicio.split(":")[1])
nuevaFormaInicio = horasInicio*60 + minutosInicio
depots_C2["StartWindow"] = nuevaFormaInicio
depots_C2["EndtWindow"] = 1440
Puntos = pd.concat([depots_C2[["StandardizedID","Latitude","Longitude","StartWindow", "EndtWindow", "Demand"]], clients_C2[["StandardizedID","Latitude","Longitude", "StartWindow", "EndtWindow", "Demand"]]]).reset_index(drop=True)

In [54]:
Distacias_C2.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,C010,C011,C012,C013,C014
StandardizedID,,,,,,,,,,,,,,,
CD01,0.000000,2.646561,0.894029,5.299421,2.712365,3.247803,2.853698,2.286665,3.701786,2.164191,3.017745,4.092530,1.279438,1.612040,3.708930
C001,2.646561,0.000000,3.380789,6.252951,3.391660,1.741142,3.464162,4.764497,4.978817,4.644156,1.335163,5.771881,2.396929,1.573272,2.806894
C002,0.894029,3.380789,0.000000,5.820975,3.457484,4.136038,2.558916,1.413714,4.196895,2.047156,3.475707,4.393482,1.362232,2.502407,4.594641
C003,5.299421,6.252951,5.820975,0.000000,2.892734,4.953815,8.151343,6.512282,1.623496,4.292862,7.436570,1.888625,6.534092,4.839221,4.019204
C004,2.712365,3.391660,3.457484,2.892734,0.000000,2.387055,5.450454,4.565609,1.625388,2.867234,4.542720,2.554449,3.815073,1.946417,1.898242

In [55]:
Tiempo_C2.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,C010,C011,C012,C013,C014
StandardizedID,,,,,,,,,,,,,,,
CD01,0.000000,0.019604,0.006622,0.039255,0.020092,0.024058,0.021139,0.016938,0.027421,0.016031,0.022354,0.030315,0.009477,0.011941,0.027474
C001,0.019604,0.000000,0.025043,0.046318,0.025123,0.012897,0.025660,0.035293,0.036880,0.034401,0.009890,0.042755,0.017755,0.011654,0.020792
C002,0.006622,0.025043,0.000000,0.043118,0.025611,0.030637,0.018955,0.010472,0.031088,0.015164,0.025746,0.032544,0.010091,0.018536,0.034034
C003,0.039255,0.046318,0.043118,0.000000,0.021428,0.036695,0.060380,0.048239,0.012026,0.031799,0.055086,0.013990,0.048401,0.035846,0.029772
C004,0.020092,0.025123,0.025611,0.021428,0.000000,0.017682,0.040374,0.033819,0.012040,0.021239,0.033650,0.018922,0.028260,0.014418,0.014061

In [56]:
Costos_C2.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,C010,C011,C012,C013,C014
StandardizedID,,,,,,,,,,,,,,,
CD01,30000.000000,59733.922281,40044.350919,89538.600859,60473.224325,66488.828207,62061.082975,55690.515787,71589.289633,54314.524627,63904.139128,75979.274532,44374.393714,48111.147417,71669.552800
C001,59733.922281,30000.000000,67982.914035,100251.439890,68105.044142,49561.597726,68919.603480,83528.765428,85936.643835,82176.743936,45000.456565,94846.651830,56929.318549,47675.593474,61535.244747
C002,40044.350919,67982.914035,30000.000000,95398.220996,68844.579966,76468.085269,58749.226966,45882.971356,77151.809117,52999.643904,69049.311428,79360.449819,45304.573783,58114.354936,81620.446000
C003,89538.600859,100251.439890,95398.220996,30000.000000,62499.648471,85655.741332,121579.738855,103165.009974,48239.855741,78229.983871,113549.310623,51218.564889,103410.038591,84368.288268,75155.454483
C004,60473.224325,68105.044142,68844.579966,62499.648471,30000.000000,56818.387078,91235.444816,81294.276073,48261.113789,62213.167103,81037.118281,58699.041348,72862.067625,51867.851465,51326.610316

### Caso 3- Avanzado Realista

#### Validaciones de integridad de los datos

In [57]:
# Funciones para validar cordenadas

def validar_latitud(latitud): 
    if -90 <= latitud <= 90:
        return True
    return False

def validar_longitud(longitud): 
    if -180 <= longitud <= 180:
        return True
    return False

def validar_Tiempos(Tiempo): 
    inicio = Tiempo.split("-")[0]
    final = Tiempo.split("-")[1]
    if final <= inicio:
        return False 
    return True

# Verificaciones Clientes

print("\n===== VALIDACIONES CLIENTES CASO 3 =====")

if clients_C3["Latitude"].apply(validar_latitud).all():
    print("Latitudes validas para todos los clientes")

if clients_C3["Longitude"].apply(validar_longitud).all():
    print("Longitudes validas para todos los clientes")

if (clients_C3["Demand"] >= 0).all():
    print("Todas las demandas de los clientes son mayores a 0")

if not clients_C3["StandardizedID"].duplicated().any():
    print("No hay clientes con ID repetidos")

if  clients_C3["TimeWindow"].apply(validar_Tiempos).all():
    print("Todas las ventanas de tiempo son validas")

# Verificaciones Depositos

print("\n===== VALIDACIONES DEPOSITOS CASO 3=====")

if depots_C3["Latitude"].apply(validar_latitud).all():
    print("Latitudes validas para todos los depositos")

if depots_C3["Longitude"].apply(validar_longitud).all():
    print("Longitudes validas para todos los depositos")

if not depots_C3["StandardizedID"].duplicated().any():
    print("No hay depositos con ID repetidos")

# Verificaciones Vehiculos

print("\n===== VALIDACIONES VEHICULOS CASO 3 =====")

if (vehicles_C3["Capacity"] > 0).any():
    print("Todas las capacidades de los vehiculos no son negativas")

if (vehicles_C3["Range"] > 0).any():
    print("Todas los rangos de los vehiculos no son negativas")

if not vehicles_C3["StandardizedID"].duplicated().any():
    print("No hay vehiculos con ID repetidos")

if (clients_C3["Demand"] <= vehicles_C3["Capacity"].max()).all():
    print("Todas las demandas caben en al menos un vehiculo")

===== VALIDACIONES CLIENTES CASO 3 =====
Latitudes validas para todos los clientes
Longitudes validas para todos los clientes
Todas las demandas de los clientes son mayores a 0
No hay clientes con ID repetidos
Todas las ventanas de tiempo son validas

===== VALIDACIONES DEPOSITOS CASO 3=====
Latitudes validas para todos los depositos
Longitudes validas para todos los depositos
No hay depositos con ID repetidos

===== VALIDACIONES VEHICULOS CASO 3 =====
Todas las capacidades de los vehiculos no son negativas
Todas los rangos de los vehiculos no son negativas
No hay vehiculos con ID repetidos
Todas las demandas caben en al menos un vehiculo

#### Matrices de distancias, costos y tiempo

In [58]:
import numpy as np
from math import radians, sin, cos, sqrt, atan2

# Funcion para calcular distancias

def funcion_haversine(Latitud_A, Longitud_A, Latitud_B, Longitud_B):
    Radio = 6371 
    Latitud_A, Longitud_A, Latitud_B, Longitud_B = map(radians, [Latitud_A, Longitud_A, Latitud_B, Longitud_B])
    Distancia_latitud = Latitud_A - Latitud_B
    Distancia_longitud = Longitud_A - Longitud_B
    Raiz = sqrt((sin(Distancia_latitud/2)**2) + (cos(Latitud_A)*cos(Latitud_B)*(sin(Distancia_longitud/2)**2)))
    Resultado = 2 * Radio * atan2(Raiz, 1 - Raiz)
    return Resultado

# Creacion de la matriz distancia

Puntos = pd.concat([depots_C3[["StandardizedID","Latitude","Longitude"]], clients_C3[["StandardizedID","Latitude","Longitude"]]]).reset_index(drop=True)
n = len(Puntos)
Matriz_distancia = np.zeros((n,n))
distanciasP = {}
for i in range(n):
    for j in range(n):
        Matriz_distancia[i,j] = funcion_haversine(Puntos.loc[i,"Latitude"], Puntos.loc[i,"Longitude"], Puntos.loc[j,"Latitude"], Puntos.loc[j,"Longitude"])
        distanciasP[(Puntos.loc[i, "StandardizedID"],Puntos.loc[j, "StandardizedID"])] = Matriz_distancia[i,j]

Distacias_C3 = pd.DataFrame(Matriz_distancia, columns=Puntos["StandardizedID"], index=Puntos["StandardizedID"])
Distacias_C3.to_csv("Caso 3 - Avanzado Realista/distance_matrix_case3.csv")

# Creacion de la matriz de tiempos por vheiculo

matriz_tiempo_vehiculos = []

for i, vehiculo in vehicles_C2.iterrows():
    velocidad = vehiculo["Speed"]
    tiempo_horas = Matriz_distancia / velocidad
    matriz_tiempo_vehiculos.append(tiempo_horas)
    Tiempo_C3 = pd.DataFrame(tiempo_horas, columns=Puntos["StandardizedID"], index=Puntos["StandardizedID"])
    Tiempo_C3.to_csv(f"Caso 3 - Avanzado Realista/time_matrix_case3_{vehiculo['StandardizedID']}.csv")

# Creacion de la matriz de costos por vehiculo 

def preciocalcular(distancia, tiempo, c_fixed, c_dist, c_time, p_combustible, gasto_conbustible):
    costosManteniento = distancia*c_dist
    costsoTiempo = tiempo*c_time
    costsoConbustible = (distancia*p_combustible)/gasto_conbustible
    return(c_fixed + costosManteniento+ costsoTiempo+costsoConbustible)

params = dict(zip(parameters_C3["Parameter"], parameters_C3["Value"]))
C_fixed_drone = float(params["C_fixed_drone"])
C_fixed_truck = float(params["C_fixed_truck"])
C_dist_drone = float(params["C_dist_drone"])
C_dist_truck = float(params["C_dist_truck"])
C_time_drone = float(params["C_time_drone"])
C_time_truck = float(params["C_time_truck"])
energy_price_drone = float(params["energy_price_drone"])
fuel_price_truck = float(params["fuel_price_truck"])
energy_consumption_drone_min = float(params["energy_consumption_drone_min"])
energy_consumption_drone_max = float(params["energy_consumption_drone_max"])
energy_consumption_drone = (energy_consumption_drone_min+energy_consumption_drone_max )/2
fuel_efficiency_truck_min = float( params["fuel_efficiency_truck_min"])
fuel_efficiency_truck_max = float( params["fuel_efficiency_truck_max"])
fuel_efficiency_truck = (fuel_efficiency_truck_min+fuel_efficiency_truck_max)/2
start_time = params["start_time"]
resupply_allowed = params["resupply_allowed"]  

Matriz_costos = {}

for i, vehiculo in vehicles_C3.iterrows():
    if vehiculo["Type"] == "drone":
        costo = preciocalcular(Matriz_distancia,matriz_tiempo_vehiculos[i], C_fixed_drone,C_dist_drone,  C_time_drone,energy_price_drone,  energy_consumption_drone)
    else:
        costo = preciocalcular(Matriz_distancia,matriz_tiempo_vehiculos[i], C_fixed_truck,C_time_truck,  C_time_drone,fuel_price_truck,  fuel_efficiency_truck)
    Costos_C3 = pd.DataFrame(costo, columns = Puntos["StandardizedID"], index = Puntos["StandardizedID"])
    for i in Costos_C3.index:
        for j in Costos_C3.columns:
          Matriz_costos[(vehiculo["StandardizedID"], i, j)] = Costos_C3.loc[i, j]
    Costos_C3.to_csv(f"Caso 3 - Avanzado Realista/cost_matrix_case3_{vehiculo['StandardizedID']}.csv")

# Cambiar el formato de las ventanas de tiempo

clientesInicio = []
clientesFinal = []
for i, cliente in clients_C3.iterrows():
    inicio = cliente["TimeWindow"].split("-")[0]
    final = cliente["TimeWindow"].split("-")[1]
    horasInicio = float(inicio.split(":")[0])
    minutosInicio = float(inicio.split(":")[1])
    horasFin = float(final.split(":")[0])
    minutosFin = float(final.split(":")[1])
    nuevaFormaInicio = horasInicio*60 + minutosInicio
    nuevaFormaFin = horasFin*60 + minutosFin
    clientesInicio.append(nuevaFormaInicio)
    clientesFinal.append(nuevaFormaFin)

clients_C3["StartWindow"] = clientesInicio
clients_C3["EndtWindow"] = clientesFinal
clients_C3.head()
depots_C3["Demand"] = 0
inicio = start_time
horasInicio = float(inicio.split(":")[0])
minutosInicio = float(inicio.split(":")[1])
nuevaFormaInicio = horasInicio*60 + minutosInicio
depots_C3["StartWindow"] = nuevaFormaInicio
depots_C3["EndtWindow"] = 1440
Puntos = pd.concat([depots_C3[["StandardizedID","Latitude","Longitude","StartWindow", "EndtWindow", "Demand"]], clients_C3[["StandardizedID","Latitude","Longitude", "StartWindow", "EndtWindow", "Demand"]]]).reset_index(drop=True)

In [59]:
Distacias_C3.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,C010,C011,C012,C013,C014,C015,C016,C017
StandardizedID,,,,,,,,,,,,,,,,,,
CD01,0.000000,2.646561,0.894029,5.299421,2.712365,3.247803,2.853698,2.286665,3.701786,2.164191,3.017745,4.092530,1.279438,1.612040,3.708930,4.605359,2.164547,5.124187
C001,2.646561,0.000000,3.380789,6.252951,3.391660,1.741142,3.464162,4.764497,4.978817,4.644156,1.335163,5.771881,2.396929,1.573272,2.806894,4.070004,0.521061,3.755478
C002,0.894029,3.380789,0.000000,5.820975,3.457484,4.136038,2.558916,1.413714,4.196895,2.047156,3.475707,4.393482,1.362232,2.502407,4.594641,4.513327,2.940411,5.276541
C003,5.299421,6.252951,5.820975,0.000000,2.892734,4.953815,8.151343,6.512282,1.623496,4.292862,7.436570,1.888625,6.534092,4.839221,4.019204,9.753559,5.844341,9.896679
C004,2.712365,3.391660,3.457484,2.892734,0.000000,2.387055,5.450454,4.565609,1.625388,2.867234,4.542720,2.554449,3.815073,1.946417,1.898242,6.907823,2.959684,7.000854

In [60]:
Tiempo_C3.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,C010,C011,C012,C013,C014,C015,C016,C017
StandardizedID,,,,,,,,,,,,,,,,,,
CD01,0.000000,0.019604,0.006622,0.039255,0.020092,0.024058,0.021139,0.016938,0.027421,0.016031,0.022354,0.030315,0.009477,0.011941,0.027474,0.034114,0.016034,0.037957
C001,0.019604,0.000000,0.025043,0.046318,0.025123,0.012897,0.025660,0.035293,0.036880,0.034401,0.009890,0.042755,0.017755,0.011654,0.020792,0.030148,0.003860,0.027818
C002,0.006622,0.025043,0.000000,0.043118,0.025611,0.030637,0.018955,0.010472,0.031088,0.015164,0.025746,0.032544,0.010091,0.018536,0.034034,0.033432,0.021781,0.039085
C003,0.039255,0.046318,0.043118,0.000000,0.021428,0.036695,0.060380,0.048239,0.012026,0.031799,0.055086,0.013990,0.048401,0.035846,0.029772,0.072249,0.043291,0.073309
C004,0.020092,0.025123,0.025611,0.021428,0.000000,0.017682,0.040374,0.033819,0.012040,0.021239,0.033650,0.018922,0.028260,0.014418,0.014061,0.051169,0.021924,0.051858

In [61]:
Costos_C3.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,C010,C011,C012,C013,C014,C015,C016,C017
StandardizedID,,,,,,,,,,,,,,,,,,
CD01,30000.000000,59733.922281,40044.350919,89538.600859,60473.224325,66488.828207,62061.082975,55690.515787,71589.289633,54314.524627,63904.139128,75979.274532,44374.393714,48111.147417,71669.552800,81740.869964,54318.523041,87569.865017
C001,59733.922281,30000.000000,67982.914035,100251.439890,68105.044142,49561.597726,68919.603480,83528.765428,85936.643835,82176.743936,45000.456565,94846.651830,56929.318549,47675.593474,61535.244747,75726.188477,35854.080845,72192.520081
C002,40044.350919,67982.914035,30000.000000,95398.220996,68844.579966,76468.085269,58749.226966,45882.971356,77151.809117,52999.643904,69049.311428,79360.449819,45304.573783,58114.354936,81620.446000,80706.890180,63035.298256,89281.546568
C003,89538.600859,100251.439890,95398.220996,30000.000000,62499.648471,85655.741332,121579.738855,103165.009974,48239.855741,78229.983871,113549.310623,51218.564889,103410.038591,84368.288268,75155.454483,139580.517917,95660.743065,141188.457404
C004,60473.224325,68105.044142,68844.579966,62499.648471,30000.000000,56818.387078,91235.444816,81294.276073,48261.113789,62213.167103,81037.118281,58699.041348,72862.067625,51867.851465,51326.610316,107608.874274,63251.832214,108654.079525

## Caso 1 - CVRP Base

## Caso 2- Simplificado Proyecto-Específico

In [62]:
# import numpy as np
# from pyomo.environ import *

# model = ConcreteModel()
# vehiculos = vehicles_C2["StandardizedID"]
# n = len(Puntos)

# Lugares = Puntos["StandardizedID"]
# model.Lugares = Set(initialize=Lugares.copy())
# model.Vehiculos = Set(initialize=vehiculos.copy())

# # Informacion de los clintes

# demanda =  dict(zip(Puntos['StandardizedID'].tolist(), Puntos['Demand'].tolist())) 
# inicioTiempo =  dict(zip(Puntos['StandardizedID'].tolist(), Puntos['StartWindow'].tolist())) 
# finTiempo =  dict(zip(Puntos['StandardizedID'].tolist(), Puntos['EndtWindow'].tolist())) 

# # Informacion de los vheiculos
# capacidad = dict(zip(vehicles_C2['StandardizedID'].tolist(), vehicles_C2['Capacity'].tolist()))
# rango = dict(zip(vehicles_C2['StandardizedID'].tolist(), vehicles_C2['Range'].tolist()))

# # Agregar la informacion al modelo
# model.D_i =  Param(model.Lugares, initialize = demanda)
# model.HI_i= Param(model.Lugares, initialize = inicioTiempo)
# model.HF_i= Param(model.Lugares, initialize = finTiempo)

# model.C_v = Param(model.Vehiculos, initialize = capacidad)
# model.A_v = Param(model.Vehiculos, initialize = rango)

# model.Costos = Param(model.Vehiculos, model.Lugares,  model.Lugares, initialize = Matriz_costos)
# model.Distancia = Param( model.Lugares,  model.Lugares, initialize = distanciasP)

# # variables del modelo
# model.x = Var(model.Vehiculos, model.Lugares,model.Lugares,  within=Binary)
# model.w = Var(model.Vehiculos,   within=Binary)
# model.h = Var(model.Vehiculos, model.Lugares,model.Lugares, bounds =(1 , 1440),  within=Integers)
# model.u = Var(model.Vehiculos, model.Lugares,bounds =(1 , n-1) , within = Integers  )

# # funcion objetivo
# def funcion_objetivo(model):
#     return  sum (model.Costos[v, i, j]*model.x[v, i,j] for i in model.Lugares for j in model.Lugares for v in model.Vehiculos) 
# model.obj = Objective(rule = funcion_objetivo, sense=minimize)

# #restricciones

# # Equipos que se usan
# def se_usa(model, e):
#     return (n*model.w[e]>= sum ( model.x[e, i,j] for i in model.Lugares for j in model.Lugares) )
# model.se_esta_usando = Constraint ( model.Vehiculos , rule = se_usa )

# def out_rule ( model , i ) :
#     if (  (i != "CD01")):
#         return sum ( model.x [e, i , j ] for j in model.Lugares for e in model.Vehiculos if (j != i))  == 1
#     return Constraint . Skip
# model.out = Constraint ( model.Lugares , rule = out_rule )

# def in_rule ( model , j ) :
#     if ( (j != "CD01")):
#         return sum ( model.x [e, i , j ] for i in model.Lugares for e in model.Vehiculos if (j != i) ) == 1
#     return  Constraint.Skip
# model.in_ = Constraint ( model.Lugares , rule = in_rule )

# def incio (model, e):
#     return sum(model . x [e, i , "CD01" ] for i in model.Lugares ) == 1*model.w[e]
# model.inicio_rul = Constraint ( model.Vehiculos , rule = incio )

# def fin (model, e):
#     return sum(model . x [e, "CD01" , j ] for j in model.Lugares  ) == 1*model.w[e]
# model.fin_rul = Constraint ( model.Vehiculos , rule = fin )

# def flujo_vehiculo(model, v, i):
#     if i != "CD01":
#         return sum(model.x[v, i, j] for j in model.Lugares if j != i) ==  sum(model.x[v, j, i] for j in model.Lugares if j != i)
#     return Constraint.Skip
# model.flujo_vehiculo = Constraint(model.Vehiculos, model.Lugares, rule=flujo_vehiculo)

# # Restriccion de autonomia
# def restriccion_autonomia(model, v):
#     return sum(model.x[v, i, j] * model.Distancia[i,j] for i in model.Lugares for j in model.Lugares) <= model.A_v[v]
# model.autonomia = Constraint(model.Vehiculos, rule = restriccion_autonomia)

# # Distibucion
# def restriccion_autonomia(model, v):
#     return sum(model.x[v, i, j] * model.D_i[i] for i in model.Lugares for j in model.Lugares) <= model.C_v[v]
# model.autonomia = Constraint(model.Vehiculos, rule = restriccion_autonomia)

# # Tiempo
# def restriccion_tiempo_Inico(model, v, i , j):
#     return (model.h[v, i,j] >= model.HI_i[i])
# model.startWindow = Constraint(model.Vehiculos, model.Lugares, model.Lugares, rule = restriccion_tiempo_Inico)

# def restriccion_tiempo_Fin(model, v, i , j):
#     return (model.h[v, i,j] <= model.HF_i[i])
# model.endWindow = Constraint(model.Vehiculos, model.Lugares, model.Lugares, rule = restriccion_tiempo_Fin)

# def mtz_rule ( model , i , j, e ) :
#     if i != j and i != "CD01" and j != "CD01":
#         return model.u [ e,i ] - model . u [ e,j ] + n * model . x [e, i , j ] <= n - 1
#     else :
#         return Constraint . Skip
# model.MTZ = Constraint ( model.Lugares , model.Lugares , model.Vehiculos, rule = mtz_rule )

# solucion = []
# solver = SolverFactory('glpk')
# model.dfj_constraints = ConstraintList()
# results = solver.solve(model)

## Caso 3- Avanzado Realista

## Análisis de resultados

## Análisis de sensibilidad