# **Proyecto B:** Optimización en la Planificación de Entregas Salva Vidas con Flota Híbrida para LogistiCo
## Intregantes

* Rodrigo Paz Londoño
* Sebastián Palma Mogollón
* Miguel Santiago Castillo Hernandez

## Descripcion de los archivos del dataset

## Carga de datos

### Caso 1 - CVRP Base

In [1]:
import pandas as pd

clients_C1 = pd.read_csv("Caso 1 - CVRP Base/clients.csv")
depots_C1 = pd.read_csv("Caso 1 - CVRP Base/depots.csv")
vehicles_C1 = pd.read_csv("Caso 1 - CVRP Base/vehicles.csv")
parameters_C1 = pd.read_csv("Caso 1 - CVRP Base/parameters_base.csv", sep=";")

In [2]:
clients_C1.head()

   ClientID StandardizedID  LocationID  Latitude  Longitude  Demand
0         1           C001           2  4.597954 -74.098938      13
1         2           C002           3  4.687821 -74.075571      15
2         3           C003           4  4.709494 -74.107085      12
3         4           C004           5  4.605029 -74.097280      15
4         5           C005           6  4.648464 -74.164641      20

In [3]:
depots_C1.head()

   DepotID StandardizedID  LocationID  Longitude  Latitude
0        1           CD01           1 -74.153536  4.743359

In [4]:
vehicles_C1.head()

   VehicleID StandardizedID  Capacity  Range
0          1           V001       130    170
1          2           V002       140    200
2          3           V003       120    180
3          4           V004       100     90
4          5           V005        70    100

In [5]:
parameters_C1.head()

,Parameter,Value,Unit,Description
0,fuel_price,16300.0,COP/liter,Fuel price for vehicles
1,cost_transport_km,3000.0,COP/km,Transport cost per kilometer
2,cost_maintenance_km,500.0,COP/km,Maintenance cost per kilometer
3,operational_cost_vehicle,50000.0,COP/vehicle/day,Fixed daily cost per vehicle
4,fuel_efficiency,7.9,km/L,Fuel efficiency of vehicles

### Caso 2 - Simplificado Proyecto-Específico

In [6]:
clients_C2 = pd.read_csv("Caso 2 - Simplificado Proyecto-Específico/clients.csv")
depots_C2 = pd.read_csv("Caso 2 - Simplificado Proyecto-Específico/depots.csv")
vehicles_C2 = pd.read_csv("Caso 2 - Simplificado Proyecto-Específico/vehicles.csv")
parameters_C2 = pd.read_csv("Caso 2 - Simplificado Proyecto-Específico/parameters_rural.csv")

In [7]:
clients_C2.head()

,ClientID,StandardizedID,LocationID,Latitude,Longitude,Demand,TimeWindow
0,1,C001,2,12.341057,-71.723837,25.0,13:20-13:50
1,2,C002,3,12.310993,-71.719252,9.0,13:30-14:00
2,3,C003,4,12.326781,-71.668190,18.0,10:15-10:45
3,4,C004,5,12.330562,-71.694530,22.0,13:00-13:30
4,5,C005,6,12.346781,-71.708920,13.0,14:50-15:20

In [8]:
depots_C2.head()

   DepotID StandardizedID  LocationID  Latitude  Longitude
0        1           CD01           1  12.31846 -71.716203

In [9]:
vehicles_C2.head()

   VehicleID StandardizedID   Type  Capacity  Range  Speed
0          1           V001    4x4     200.0  804.0   40.0
1          2           V002  drone      25.0  480.0  135.0
2          3           V003  drone      25.0  480.0  135.0

In [10]:
parameters_C2.head()

       Parameter  Value         Unit                           Description
0  C_fixed_drone  30000  COP/vehicle      Fixed activation cost for drones
1  C_fixed_truck  60000  COP/vehicle  Fixed activation cost for 4x4 trucks
2   C_dist_drone    800       COP/km              Drone maintenance per km
3   C_dist_truck   3000       COP/km              Truck maintenance per km
4   C_time_drone   2000     COP/hour            Drone operator hourly cost

### Caso 3 - Avanzado Realista

In [11]:
clients_C3 = pd.read_csv("Caso 3 - Avanzado Realista/clients.csv")
depots_C3 = pd.read_csv("Caso 3 - Avanzado Realista/depots.csv")
vehicles_C3 = pd.read_csv("Caso 3 - Avanzado Realista/vehicles.csv")
parameters_C3 = pd.read_csv("Caso 3 - Avanzado Realista/parameters_rural.csv")

In [12]:
clients_C3.head()

,ClientID,StandardizedID,LocationID,Latitude,Longitude,Demand,TimeWindow
0,1,C001,2,12.341057,-71.723837,25.0,13:05-14:05
1,2,C002,3,12.310993,-71.719252,9.0,13:15-14:15
2,3,C003,4,12.326781,-71.668190,18.0,10:00-10:60
3,4,C004,5,12.330562,-71.694530,22.0,12:45-13:45
4,5,C005,6,12.346781,-71.708920,13.0,14:35-15:35

In [13]:
depots_C3.head()

   DepotID StandardizedID  LocationID  Latitude  Longitude
0        1           CD01           1  12.31846 -71.716203

In [14]:
vehicles_C3.head()

   VehicleID StandardizedID   Type  Capacity  Range  Speed
0          1           V001    4x4     200.0  804.0    NaN
1          2           V002  drone      25.0  480.0  135.0
2          3           V003  drone      25.0  480.0  135.0

In [15]:
parameters_C3.head()

       Parameter  Value         Unit                           Description
0  C_fixed_drone  30000  COP/vehicle      Fixed activation cost for drones
1  C_fixed_truck  60000  COP/vehicle  Fixed activation cost for 4x4 trucks
2   C_dist_drone    800       COP/km              Drone maintenance per km
3   C_dist_truck   3000       COP/km              Truck maintenance per km
4   C_time_drone   2000     COP/hour            Drone operator hourly cost

## Procesamiento

### Caso 1 - CVRP Base

#### Validaciones de integridad de los datos

In [16]:
# Funciones para validar cordenadas

def validar_latitud(latitud): 
    if -90 <= latitud <= 90:
        return True
    return False

def validar_longitud(longitud): 
    if -180 <= longitud <= 180:
        return True
    return False

# Verificaciones Clientes

print("\n===== VALIDACIONES CLIENTES =====")

if clients_C1["Latitude"].apply(validar_latitud).all():
    print("Latitudes validas para todos los clientes")

if clients_C1["Longitude"].apply(validar_longitud).all():
    print("Longitudes validas para todos los clientes")

if (clients_C1["Demand"] >= 0).all():
    print("Todas las demandas de los clientes son mayores a 0")

if not clients_C1["StandardizedID"].duplicated().any():
    print("No hay clientes con ID repetidos")

# Verificaciones Depositos

print("\n===== VALIDACIONES DEPOSITOS =====")

if depots_C1["Latitude"].apply(validar_latitud).all():
    print("Latitudes validas para todos los depositos")

if depots_C1["Longitude"].apply(validar_longitud).all():
    print("Longitudes validas para todos los depositos")

if not depots_C1["StandardizedID"].duplicated().any():
    print("No hay depositos con ID repetidos")

# Verificaciones Vehiculos

print("\n===== VALIDACIONES VEHICULOS =====")

if (vehicles_C1["Capacity"] > 0).any():
    print("Todas las capacidades de los vehiculos no son negativas")

if (vehicles_C1["Range"] > 0).any():
    print("Todas los rangos de los vehiculos no son negativas")

if not vehicles_C1["StandardizedID"].duplicated().any():
    print("No hay vehiculos con ID repetidos")

===== VALIDACIONES CLIENTES =====
Latitudes validas para todos los clientes
Longitudes validas para todos los clientes
Todas las demandas de los clientes son mayores a 0
No hay clientes con ID repetidos

===== VALIDACIONES DEPOSITOS =====
Latitudes validas para todos los depositos
Longitudes validas para todos los depositos
No hay depositos con ID repetidos

===== VALIDACIONES VEHICULOS =====
Todas las capacidades de los vehiculos no son negativas
Todas los rangos de los vehiculos no son negativas
No hay vehiculos con ID repetidos

#### Matrices de distancias y costos

In [17]:
import numpy as np
from math import radians, sin, cos, sqrt, atan2

# Funcion para calcular distancias

def funcion_haversine(Latitud_A, Longitud_A, Latitud_B, Longitud_B):
    Radio = 6371 
    Latitud_A, Longitud_A, Latitud_B, Longitud_B = map(radians, [Latitud_A, Longitud_A, Latitud_B, Longitud_B])
    Distancia_latitud = Latitud_A - Latitud_B
    Distancia_longitud = Longitud_A - Longitud_B
    Raiz = sqrt((sin(Distancia_latitud/2)**2) + (cos(Latitud_A)*cos(Latitud_B)*(sin(Distancia_longitud/2)**2)))
    Resultado = 2 * Radio * atan2(Raiz, 1 - Raiz)
    return Resultado

# Creacion de la matriz distancia

Puntos = pd.concat([depots_C1[["StandardizedID","Latitude","Longitude"]], clients_C1[["StandardizedID","Latitude","Longitude"]]]).reset_index(drop=True)
n = len(Puntos)
Matriz_distancia = np.zeros((n,n))

for i in range(n):
    for j in range(n):
        Matriz_distancia[i,j] = funcion_haversine(Puntos.loc[i,"Latitude"], Puntos.loc[i,"Longitude"], Puntos.loc[j,"Latitude"], Puntos.loc[j,"Longitude"])

Distacias_C1 = pd.DataFrame(Matriz_distancia, columns=Puntos["StandardizedID"], index=Puntos["StandardizedID"])
Distacias_C1.to_csv("Caso 1 - CVRP Base/distance_matrix_case1.csv", index=True)

# Creacion de la matriz de tiempos 

Velocidad_promedio = 40 
Matriz_tiempo_horas = Matriz_distancia / Velocidad_promedio 
Matriz_tiempo_minutos = Matriz_tiempo_horas * 60  

Tiempo_C1 = pd.DataFrame(Matriz_tiempo_minutos, columns=Puntos["StandardizedID"], index=Puntos["StandardizedID"])
Tiempo_C1.to_csv("Caso 1 - CVRP Base/time_matrix_case1.csv", index=True)

# Creacion de la matriz de costos

params = dict(zip(parameters_C1["Parameter"], parameters_C1["Value"]))
Pf = params["fuel_price"]                 
Ct = params["cost_transport_km"]          
Cm = params["cost_maintenance_km"]       
Co = params["operational_cost_vehicle"]   
R  = params["fuel_efficiency"]           
Salario_condutor_minuto = params["driver_salary_minute"]
Matriz_costos = np.zeros((n,n))

for i in range(n):
    for j in range(n):
        Distancia = Matriz_distancia[i,j]
        Litros = Distancia / R
        Costo_combustible = Litros * Pf
        Costos_varios = Distancia * (Ct + Cm)
        Costo_salario = Matriz_tiempo_minutos[i,j] * Salario_condutor_minuto
        Precio_recorrido = Costo_combustible + Costos_varios + Costo_salario
        Matriz_costos[i,j] = Precio_recorrido

Costos_C1 = pd.DataFrame(Matriz_costos, columns = Puntos["StandardizedID"], index = Puntos["StandardizedID"])
Costos_C1.to_csv("Caso 1 - CVRP Base/cost_matrix_case1.csv", index=True)

In [18]:
Distacias_C1.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,...,C015,C016,C017,C018,C019,C020,C021,C022,C023,C024
StandardizedID,,,,,,,,,,,,,,,,,,,,,
CD01,0.000000,17.286825,10.628967,6.381006,16.618729,10.632248,9.738686,15.447779,10.654923,15.260083,...,16.834419,21.242656,14.550039,10.196442,12.216835,3.529100,14.313916,15.071266,4.312636,18.716717
C001,17.286825,0.000000,10.331181,12.447666,0.807915,9.203019,7.542753,13.978915,9.930116,6.412400,...,0.861627,4.726032,3.476998,7.096530,13.218733,16.747529,18.489124,3.337066,14.984307,3.792068
C002,10.628967,10.331181,0.000000,4.244684,9.522313,10.807065,5.775244,6.022198,11.526612,12.736950,...,9.537494,15.061889,9.681241,6.459504,3.502558,8.316622,8.641148,7.053344,6.643383,13.509178
C003,6.381006,12.447666,4.244684,0.000000,11.677432,9.320279,5.484354,9.515809,9.831154,12.709651,...,11.808116,16.950151,10.599694,6.216130,6.350430,4.443322,10.038049,9.620884,2.652226,14.849076
C004,16.618729,0.807915,9.522313,11.677432,0.000000,8.898098,6.869694,13.245904,9.655214,6.530131,...,0.344396,5.533000,3.264033,6.466689,12.425502,15.998823,17.701908,2.546812,14.229390,4.442109

In [19]:
Tiempo_C1.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,...,C015,C016,C017,C018,C019,C020,C021,C022,C023,C024
StandardizedID,,,,,,,,,,,,,,,,,,,,,
CD01,0.000000,25.930238,15.943451,9.571508,24.928094,15.948372,14.608029,23.171669,15.982384,22.890124,...,25.251628,31.863983,21.825058,15.294663,18.325253,5.293650,21.470873,22.606899,6.468953,28.075076
C001,25.930238,0.000000,15.496772,18.671499,1.211872,13.804529,11.314130,20.968373,14.895174,9.618599,...,1.292440,7.089047,5.215496,10.644796,19.828099,25.121293,27.733686,5.005598,22.476461,5.688101
C002,15.943451,15.496772,0.000000,6.367026,14.283469,16.210597,8.662866,9.033297,17.289919,19.105425,...,14.306240,22.592834,14.521862,9.689255,5.253837,12.474932,12.961722,10.580016,9.965074,20.263766
C003,9.571508,18.671499,6.367026,0.000000,17.516148,13.980419,8.226531,14.273713,14.746731,19.064476,...,17.712174,25.425227,15.899541,9.324195,9.525645,6.664984,15.057074,14.431327,3.978338,22.273613
C004,24.928094,1.211872,14.283469,17.516148,0.000000,13.347148,10.304542,19.868856,14.482821,9.795196,...,0.516594,8.299500,4.896050,9.700033,18.638252,23.998235,26.552862,3.820218,21.344085,6.663163

In [20]:
Costos_C1.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,...,C015,C016,C017,C018,C019,C020,C021,C022,C023,C024
StandardizedID,,,,,,,,,,,,,,,,,,,,,
CD01,0.000000,104814.969418,64446.471249,38689.862383,100764.111036,64466.363443,59048.439151,93664.306830,64603.845759,92526.249521,...,102071.899039,128800.299322,88221.048085,61823.945818,74074.167191,21397.944143,86789.365821,91381.400240,26148.743942,113484.811965
C001,104814.969418,0.000000,62640.908414,75473.761180,4898.619485,55800.539151,45733.871299,84758.163254,60209.132859,38880.213752,...,5224.289325,28655.281788,21082.030865,43028.294110,80148.958114,101545.059923,112104.849219,20233.583393,90854.143383,22992.390331
C002,64446.471249,62640.908414,0.000000,25736.732247,57736.507504,65526.324746,35016.956202,36514.309223,69889.149684,77227.773616,...,57828.553105,91324.543332,58700.136007,39165.818243,21237.012678,50426.056725,52393.753644,42766.441170,40280.729865,81910.009363
C003,38689.862383,75473.761180,25736.732247,0.000000,70803.612671,56511.519598,33253.209148,57697.072605,59609.100339,77062.249190,...,71595.986750,102773.615918,64268.978026,37690.176361,38504.474306,26941.135070,60863.565194,58334.174902,16081.202638,90034.194581
C004,100764.111036,4898.619485,57736.507504,70803.612671,0.000000,53951.717034,41652.923056,80313.705506,58542.323342,39594.052067,...,2088.170589,33548.163317,19790.768476,39209.384754,75339.371593,97005.444483,107331.732416,15442.048292,86276.864906,26933.777291

### Caso 2- Simplificado Proyecto-Específico

In [21]:
# Funciones para validar cordenadas
print ("hola")

def validar_latitud(latitud): 
    if -90 <= latitud <= 90:
        return True
    return False

def validar_longitud(longitud): 
    if -180 <= longitud <= 180:
        return True
    return False

def validar_Tiempos(Tiempo): 
    inicio = Tiempo.split("-")[0]
    final = Tiempo.split("-")[1]
    if final <= inicio:
        return False 
    return True
# Verificaciones Clientes

print("\n===== VALIDACIONES CLIENTES =====")

if clients_C1["Latitude"].apply(validar_latitud).all():
    print("Latitudes validas para todos los clientes")

if clients_C2["Longitude"].apply(validar_longitud).all():
    print("Longitudes validas para todos los clientes")

if (clients_C2["Demand"] >= 0).all():
    print("Todas las demandas de los clientes son mayores a 0")

if not clients_C2["StandardizedID"].duplicated().any():
    print("No hay clientes con ID repetidos")

if  clients_C2["TimeWindow"].apply(validar_Tiempos).all():
    print("No se tienen ventanaas de tiempo sin sentido")

# Verificaciones Depositos

print("\n===== VALIDACIONES DEPOSITOS =====")

if depots_C2["Latitude"].apply(validar_latitud).all():
    print("Latitudes validas para todos los depositos")

if depots_C2["Longitude"].apply(validar_longitud).all():
    print("Longitudes validas para todos los depositos")

if not depots_C2["StandardizedID"].duplicated().any():
    print("No hay depositos con ID repetidos")


# Verificaciones Vehiculos

print("\n===== VALIDACIONES VEHICULOS =====")

if (vehicles_C2["Capacity"] > 0).any():
    print("Todas las capacidades de los vehiculos no son negativas")

if (vehicles_C2["Range"] > 0).any():
    print("Todas los rangos de los vehiculos no son negativas")

if not vehicles_C2["StandardizedID"].duplicated().any():
    print("No hay vehiculos con ID repetidos")

hola

===== VALIDACIONES CLIENTES =====
Latitudes validas para todos los clientes
Longitudes validas para todos los clientes
Todas las demandas de los clientes son mayores a 0
No hay clientes con ID repetidos
No se tienen ventanaas de tiempo sin sentido

===== VALIDACIONES DEPOSITOS =====
Latitudes validas para todos los depositos
Longitudes validas para todos los depositos
No hay depositos con ID repetidos

===== VALIDACIONES VEHICULOS =====
Todas las capacidades de los vehiculos no son negativas
Todas los rangos de los vehiculos no son negativas
No hay vehiculos con ID repetidos

In [22]:
import numpy as np
from math import radians, sin, cos, sqrt, atan2

# Funcion para calcular distancias

def funcion_haversine(Latitud_A, Longitud_A, Latitud_B, Longitud_B):
    Radio = 6371 
    Latitud_A, Longitud_A, Latitud_B, Longitud_B = map(radians, [Latitud_A, Longitud_A, Latitud_B, Longitud_B])
    Distancia_latitud = Latitud_A - Latitud_B
    Distancia_longitud = Longitud_A - Longitud_B
    Raiz = sqrt((sin(Distancia_latitud/2)**2) + (cos(Latitud_A)*cos(Latitud_B)*(sin(Distancia_longitud/2)**2)))
    Resultado = 2 * Radio * atan2(Raiz, 1 - Raiz)
    return Resultado

# Creacion de la matriz distancia

Puntos = pd.concat([depots_C2[["StandardizedID","Latitude","Longitude"]], clients_C2[["StandardizedID","Latitude","Longitude"]]]).reset_index(drop=True)
n = len(Puntos)
Matriz_distancia = np.zeros((n,n))
distanciasP = {}
for i in range(n):
    for j in range(n):
        Matriz_distancia[i,j] = funcion_haversine(Puntos.loc[i,"Latitude"], Puntos.loc[i,"Longitude"], Puntos.loc[j,"Latitude"], Puntos.loc[j,"Longitude"])
        distanciasP[(Puntos.loc[i, "StandardizedID"],Puntos.loc[j, "StandardizedID"])] = Matriz_distancia[i,j]

Distacias_C2 = pd.DataFrame(Matriz_distancia, columns=Puntos["StandardizedID"], index=Puntos["StandardizedID"])
Distacias_C2.to_csv("Caso 2 - Simplificado Proyecto-Específico/distance_matrix_case2.csv", index=True)

# Creacion de la matriz de tiempos por vheiculo

matriz_tiempo_vehiculos = []

for i, vehiculo in vehicles_C2.iterrows():
    velocidad = vehiculo["Speed"]
    tiempo_horas = Matriz_distancia / velocidad
    tiempo_minutos = tiempo_horas * 60
    matriz_tiempo_vehiculos.append(tiempo_horas)
    Tiempo_C2 = pd.DataFrame(tiempo_minutos, columns=Puntos["StandardizedID"], index=Puntos["StandardizedID"])
    Tiempo_C2.to_csv("Caso 2 - Simplificado Proyecto-Específico/time_matrix_case2"+ vehiculo["StandardizedID"] +".csv", index=True)

# Creacion de la matriz de costos por vheiculo 

def preciocalcular(distancia, tiempo, c_fixed, c_dist, c_time, p_combustible, gasto_conbustible ):
    costosManteniento = distancia*c_dist
    costsoTiempo = tiempo*c_time
    costsoConbustible = (distancia*p_combustible)/gasto_conbustible
    return(c_fixed + costosManteniento+ costsoTiempo+costsoConbustible)


params = dict(zip(parameters_C2["Parameter"], parameters_C2["Value"]))
C_fixed_drone = float(params["C_fixed_drone"])
C_fixed_truck = float(params["C_fixed_truck"])
C_dist_drone = float(params["C_dist_drone"])
C_dist_truck = float(params["C_dist_truck"])
C_time_drone = float(params["C_time_drone"])
C_time_truck = float(params["C_time_truck"])
energy_price_drone = float(params["energy_price_drone"])
fuel_price_truck = float(params["fuel_price_truck"])
energy_consumption_drone_min = float(params["energy_consumption_drone_min"])
energy_consumption_drone_max = float(params["energy_consumption_drone_max"])
energy_consumption_drone = (energy_consumption_drone_min+energy_consumption_drone_max )/2
fuel_efficiency_truck_min =float( params["fuel_efficiency_truck_min"])
fuel_efficiency_truck_max = float( params["fuel_efficiency_truck_max"])
fuel_efficiency_truck = (fuel_efficiency_truck_min+fuel_efficiency_truck_max)/2
start_time = params["start_time"]

Matriz_costos = {}

for i, vehiculo in vehicles_C2.iterrows():
    if vehiculo["Type"] == "drone":
        costo = preciocalcular(Matriz_distancia,matriz_tiempo_vehiculos[i], C_fixed_drone,C_dist_drone,  C_time_drone,energy_price_drone,  energy_consumption_drone )
    else:
        costo = preciocalcular(Matriz_distancia,matriz_tiempo_vehiculos[i], C_fixed_truck,C_time_truck,  C_time_drone,fuel_price_truck,  fuel_efficiency_truck )
    Costos_C2 = pd.DataFrame(costo, columns = Puntos["StandardizedID"], index = Puntos["StandardizedID"])
    for i in Costos_C2.index:
        for j in Costos_C2.columns:
          Matriz_costos[(vehiculo["StandardizedID"], i, j)] = Costos_C2.loc[i, j]
    Costos_C2.to_csv("Caso 2 - Simplificado Proyecto-Específico/cost_matrix_case2" + vehiculo["StandardizedID"] +".csv", index=True)



# Cambiar el formato de las ventanas de tiempo

clientesInico = []
clientesFianl = []
for i, cliente in clients_C2.iterrows():
    inicio = cliente["TimeWindow"].split("-")[0]
    final = cliente["TimeWindow"].split("-")[1]
    horasInico = float(inicio.split(":")[0])
    minutosInico = float(inicio.split(":")[1])
    horasFin = float(final.split(":")[0])
    minutosFin = float(final.split(":")[1])
    nuevaFromaInico = horasInico*60 + minutosInico
    nuevaFromaFin = horasFin*60 + minutosFin
    clientesInico.append(nuevaFromaInico)
    clientesFianl.append(nuevaFromaFin)

clients_C2["StartWindow"] = clientesInico
clients_C2["EndtWindow"] = clientesFianl


clients_C2.head()

depots_C2["Demand"] = 0

inicio = start_time
horasInico = float(inicio.split(":")[0])
minutosInico = float(inicio.split(":")[1])
nuevaFromaInico = horasInico*60 + minutosInico

depots_C2["StartWindow"] = nuevaFromaInico
depots_C2["EndtWindow"] = 1440
Puntos = pd.concat([depots_C2[["StandardizedID","Latitude","Longitude","StartWindow", "EndtWindow", "Demand"]], clients_C2[["StandardizedID","Latitude","Longitude", "StartWindow", "EndtWindow", "Demand"]]]).reset_index(drop=True)

### Caso 3- Avanzado Realista

## Caso 1 - CVRP Base

In [ ]:
import numpy as np
from pyomo.environ import *
import pandas as pd

# Cargar de matrices pre-calculadas 
distance_matrix_C1 = pd.read_csv("Caso 1 - CVRP Base/distance_matrix_case1.csv", index_col=0)
cost_matrix_C1     = pd.read_csv("Caso 1 - CVRP Base/cost_matrix_case1.csv", index_col=0)
time_matrix_C1     = pd.read_csv("Caso 1 - CVRP Base/time_matrix_case1.csv", index_col=0)

# Crear modelo Pyomo
model_C1 = ConcreteModel()

# Conjuntos
locations = list(distance_matrix_C1.index)            
clients   = [loc for loc in locations if loc != "CD01"]
vehicles  = list(vehicles_C1["StandardizedID"])

model_C1.Locations = Set(initialize=locations)
model_C1.Clients   = Set(initialize=clients)
model_C1.Vehicles  = Set(initialize=vehicles)

# Parametros
demand_dict = dict(zip(clients_C1["StandardizedID"], clients_C1["Demand"]))
demand_dict["CD01"] = 0 
capacity_dict = dict(zip(vehicles_C1["StandardizedID"], vehicles_C1["Capacity"]))
range_dict    = dict(zip(vehicles_C1["StandardizedID"], vehicles_C1["Range"]))

# Matrices de distancia y costo
distance_dict = {}
cost_dict     = {}
for i in locations:
    for j in locations:
        distance_dict[(i, j)] = distance_matrix_C1.loc[i, j]
        cost_dict[(i, j)]     = cost_matrix_C1.loc[i, j]

model_C1.Demand   = Param(model_C1.Locations, initialize=demand_dict, default=0)
model_C1.Capacity = Param(model_C1.Vehicles,  initialize=capacity_dict)
model_C1.Range    = Param(model_C1.Vehicles,  initialize=range_dict)
model_C1.Distance = Param(model_C1.Locations, model_C1.Locations, initialize=distance_dict)
model_C1.Cost     = Param(model_C1.Locations, model_C1.Locations, initialize=cost_dict)

# Parametros de costos unificados
params_C1 = dict(zip(parameters_C1["Parameter"], parameters_C1["Value"]))
model_C1.C_fixed = Param(initialize=params_C1["operational_cost_vehicle"])

# Variables de decision

model_C1.x = Var(model_C1.Vehicles,
                 model_C1.Locations,
                 model_C1.Locations,
                 within=Binary)

# Vehiculo activado (w_v)
model_C1.y = Var(model_C1.Vehicles, within=Binary)

# Orden de visita
model_C1.u = Var(model_C1.Vehicles,
                 model_C1.Clients,
                 within=NonNegativeIntegers,
                 bounds=(0, len(clients)))


# Función objetivo 
def objective_rule(model):
    # Costos fijos 
    fixed_costs = sum(model.C_fixed * model.y[v] for v in model.Vehicles)
    
    # Costos variables 
    variable_costs = sum(model.Cost[i, j] * model.x[v, i, j]
                         for v in model.Vehicles
                         for i in model.Locations
                         for j in model.Locations)
    
    return fixed_costs + variable_costs

model_C1.obj = Objective(rule=objective_rule, sense=minimize)

# Restricciones 

# 1. Capacidad
def distribucion_rule(model, v):
    return sum(model.Demand[j] * model.x[v, i, j]
               for i in model.Locations
               for j in model.Clients) <= model.Capacity[v]

model_C1.distribucion = Constraint(model_C1.Vehicles, rule=distribucion_rule)

# 2. Devolucion
def start_depot_rule(model, v):
    return sum(model.x[v, "CD01", j]
               for j in model.Locations if j != "CD01") == model.y[v]

# Entra a CD01
def end_depot_rule(model, v):
    return sum(model.x[v, i, "CD01"]
               for i in model.Locations if i != "CD01") == model.y[v]

model_C1.start_depot = Constraint(model_C1.Vehicles, rule=start_depot_rule)
model_C1.end_depot   = Constraint(model_C1.Vehicles, rule=end_depot_rule)

# 3. Autonomia
def autonomia_rule(model, v):
    return sum(model.Distance[i, j] * model.x[v, i, j]
               for i in model.Locations
               for j in model.Locations) <= model.Range[v] * model.y[v]

model_C1.autonomia = Constraint(model_C1.Vehicles, rule=autonomia_rule)

# 4. TSP
def tsp_rule(model, j):
    if j != "CD01":
        return sum(model.x[v, i, j]
                   for v in model.Vehicles
                   for i in model.Locations) == 1
    return Constraint.Skip

model_C1.tsp = Constraint(model_C1.Locations, rule=tsp_rule)

# 5. Solo un camino 
N = len(clients)  

def solo_un_camino_rule(model, v, i, j):
    if i != j:
        return model.u[v, i] - model.u[v, j] + N * model.x[v, i, j] <= N - 1
    return Constraint.Skip

model_C1.solo_un_camino = Constraint(model_C1.Vehicles,
                                     model_C1.Clients,
                                     model_C1.Clients,
                                     rule=solo_un_camino_rule)

# 6. Control de flujo
def control_flujo_rule(model, v, i):
    if i == "CD01":
        return Constraint.Skip
    return (sum(model.x[v, i, j] for j in model.Locations) ==
            sum(model.x[v, k, i] for k in model.Locations))

model_C1.control_flujo = Constraint(model_C1.Vehicles,
                                    model_C1.Locations,
                                    rule=control_flujo_rule)

# 7. Big M
n = len(clients)  # número de clientes

def uso_camion_rule(model, v):
    return sum(model.x[v, i, j]
               for i in model.Locations
               for j in model.Locations) <= model.y[v] * n

model_C1.uso_camion = Constraint(model_C1.Vehicles, rule=uso_camion_rule)

# Restriccion adicional: Prohibir arcos de un nodo a el mismo
def no_self_loop_rule(model, v, i):
    return model.x[v, i, i] == 0

model_C1.no_self_loop = Constraint(model_C1.Vehicles,
                                   model_C1.Locations,
                                   rule=no_self_loop_rule)


# Resolver 

solver_C1 = SolverFactory('gurobi')
solver_C1.options['TimeLimit'] = 600  # 10 minutos
solver_C1.options['MIPGap']   = 0.01  # Gap de 1%

results_C1 = solver_C1.solve(model_C1, tee=True)

print(f"\n{'='*60}")
print(f"Condición de terminación: {results_C1.solver.termination_condition}")
try:
    print(f"Valor objetivo: {value(model_C1.obj):.2f} COP")
except:
    print("No se pudo evaluar el valor objetivo (posible modelo infactible).")
print(f"{'='*60}")

Resolviendo Caso 1 con Gurobi...
Read LP format model from file C:\Users\usuario\AppData\Local\Temp\tmpoon2f6ej.pyomo.lp
Reading time = 0.06 seconds
x1: 4872 rows, 5200 columns, 42480 nonzeros
Set parameter TimeLimit to value 600
Set parameter MIPGap to value 0.01
Gurobi Optimizer version 13.0.0 build v13.0.0rc1 (win64 - Windows 11.0 (26100.2))

CPU model: Intel(R) Core(TM) i7-10750H CPU @ 2.60GHz, instruction set [SSE2|AVX|AVX2]
Thread count: 6 physical cores, 12 logical processors, using up to 12 threads

Non-default parameters:
TimeLimit  600
MIPGap  0.01

Academic license 2741129 - for non-commercial use only - registered to r.___@uniandes.edu.co
Optimize a model with 4872 rows, 5200 columns and 42480 nonzeros (Min)
Model fingerprint: 0x9a1ac21b
Model has 4808 linear objective coefficients
Variable types: 0 continuous, 5200 integer (5008 binary)
Coefficient statistics:
  Matrix range     [3e-01, 2e+02]
  Objective range  [2e+03, 1e+05]
  Bounds range     [1e+00, 2e+01]
  RHS range        [1e+00, 1e+02]
Presolve removed 200 rows and 200 columns
Presolve time: 0.12s
Presolved: 4672 rows, 5000 columns, 41160 nonzeros
Variable types: 0 continuous, 5000 integer (4808 binary)

Root relaxation: objective 5.097610e+05, 671 iterations, 0.04 seconds (0.03 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

     0     0 509761.028    0   58          - 509761.028      -     -    0s
H    0     0                    2684335.2747 509761.028  81.0%     -    0s
H    0     0                    2248393.4478 509761.028  77.3%     -    0s
H    0     0                    2056062.3287 509761.028  75.2%     -    0s
H    0     0                    1831323.6843 509761.028  72.2%     -    0s
H    0     0                    1821009.3309 509761.028  72.0%     -    0s
H    0     0                    1789618.4792 509761.028  71.5%     -    0s
H    0     0                    1694758.2696 509761.028  69.9%     -    0s
H    0     0                    1636613.3301 533689.266  67.4%     -    0s
H    0     0                    1578747.8478 533689.266  66.2%     -    0s
H    0     0                    1548689.6666 533689.266  65.5%     -    0s
H    0     0                    1545082.5771 533689.266  65.5%     -    0s
H    0     0                    1542998.9610 533689.266  65.4%     -    0s
H    0     0                    1526969.8538 533689.266  65.0%     -    0s
     0     0 537852.363    0   71 1526969.85 537852.363  64.8%     -    0s
     0     0 537852.363    0   79 1526969.85 537852.363  64.8%     -    1s
     0     0 548186.049    0   73 1526969.85 548186.049  64.1%     -    1s
     0     0 548186.049    0   73 1526969.85 548186.049  64.1%     -    1s
     0     0 548186.049    0   73 1526969.85 548186.049  64.1%     -    1s
     0     0 574661.534    0  109 1526969.85 574661.534  62.4%     -    1s
     0     0 591486.375    0   90 1526969.85 591486.375  61.3%     -    1s
     0     0 594109.882    0   94 1526969.85 594109.882  61.1%     -    1s
H    0     0                    1452150.3515 597337.860  58.9%     -    1s
H    0     0                    1359880.1789 597337.860  56.1%     -    1s
     0     0 597337.860    0   85 1359880.18 597337.860  56.1%     -    1s
     0     0 632432.064    0  120 1359880.18 632432.064  53.5%     -    1s
     0     0 632432.064    0  120 1359880.18 632432.064  53.5%     -    2s
     0     0 632432.064    0  120 1359880.18 632432.064  53.5%     -    2s
     0     2 632951.939    0  120 1359880.18 632951.939  53.5%     -    2s
H   25    37                    1227381.1956 664373.115  45.9%   130    2s
H 1055  1039                    1221627.4432 664373.115  45.6%  24.0    4s
  2056  2032 868780.647  287   54 1221627.44 664373.115  45.6%  17.1    5s
H 3163  2877                    1219398.3962 664373.115  45.5%  17.7    8s
H 3172  2739                    1198734.6769 710869.901  40.7%  17.6    9s
H 3172  2601                    1197245.3374 710869.901  40.6%  17.6    9s
H 3172  2471                    1196569.1735 710869.901  40.6%  17.6    9s
  3174  2472 719692.093   10   76 1196569.17 711804.414  40.5%  17.6   10s
H 3183  2354                    1193210.2457 713850.482  40.2%  17.6   12s
H 3183  2236                    1192628.5150 713850.482  40.1%  17.6   12s
H 3386  2251                    1186172.8941 715829.211  39.7%  22.1   14s
  3439  2285 726868.299   36   66 1186172.89 715829.211  39.7%  22.6   15s
H 3443  2178                    1167642.5979 715829.211  38.7%  22.6   15s
H 3580  2156                    1150230.5351 715829.211  37.8%  23.5   15s
H 3799  2173                    1138752.7240 717153.926  37.0%  25.2   16s
H 3853  2106                    1133547.0440 717153.926  36.7%  25.7   17s
H 4314  2225                    1120336.2396 717153.926  36.0%  27.6   18s
H 4628  2309                    1104577.3813 717462.421  35.0%  28.1   19s
  4819  2476 791635.177   61   43 1104577.38 717462.421  35.0%  28.1   20s
H 4969  2361                    1083204.7647 717462.421  33.8%  28.5   21s
H 5203  2420                    1078896.1858 717595.317  33.5%  28.5   21s
H 5222  2325                    1067781.0233 717595.317  32.8%  28.5   21s
  7495  3988 761689.948   69   97 1067781.02 719145.091  32.7%  27.1   25s
* 9663  5844             182    1067341.0622 721812.475  32.4%  26.0   27s
 11764  7795 749077.023   28   63 1067341.06 723220.985  32.2%  25.7   30s
H12830  8328                    1053065.8813 723673.565  31.3%  25.4   33s
H12845  6754                    943015.44851 723673.565  23.3%  25.4   33s
 12915  8289 849308.956   57   53 943015.449 723673.565  23.3%  25.4   35s
 16353 10149 783960.868   18  139 943015.449 724813.622  23.1%  26.5   40s
 19599 12362 792046.316   28   63 943015.449 725708.188  23.0%  27.3   45s
 22684 15076 739263.306   38   70 943015.449 726432.046  23.0%  26.8   50s
 25638 17220 754934.098   59  120 943015.449 726944.186  22.9%  26.3   68s
 25651 17229 767361.463   89  118 943015.449 726944.186  22.9%  26.3   70s
H25655 16369                    940234.82960 726944.186  22.7%  26.3   74s
 25656 16370 768430.872  131  130 940234.830 726944.186  22.7%  26.3   75s
H25659 15553                    919129.14247 726944.186  20.9%  26.3   80s
 25665 15557 834648.862   92  134 919129.142 726944.186  20.9%  26.2   85s
H25665 14778                    916348.52356 726944.186  20.7%  26.2   86s
 25669 14781 846011.999   45  210 916348.524 726944.186  20.7%  26.2   90s
 25672 14783 730437.520   30  232 916348.524 726944.186  20.7%  26.2   95s
 25675 14785 825363.086  129  233 916348.524 726944.186  20.7%  26.2  100s
 25678 14787 820448.884   68  235 916348.524 726944.186  20.7%  26.2  105s
 25682 14789 796791.392   51  243 916348.524 726944.186  20.7%  26.2  112s
 25684 14791 806962.026   73  234 916348.524 726944.186  20.7%  26.2  116s
 25688 14793 753226.271   43  245 916348.524 726944.186  20.7%  26.2  121s
 25691 14795 818568.817   67  249 916348.524 726944.186  20.7%  26.2  126s
 25694 14797 747027.706  107  251 916348.524 726944.186  20.7%  26.2  130s
 25699 14801 727580.549   21  239 916348.524 726964.293  20.7%  26.2  135s
 25952 14941 750429.235   46   74 916348.524 726964.293  20.7%  26.9  140s
H26165 14281                    910956.96968 727288.459  20.2%  27.2  143s
 26356 14394 764739.223   79   90 910956.970 727338.379  20.2%  27.3  145s
H27021 13964                    910280.80586 728919.784  19.9%  27.4  148s
 27477 14299 762830.925   71   62 910280.806 730704.510  19.7%  27.4  150s
 29085 15011     cutoff   82      910280.806 732386.472  19.5%  27.6  155s
 30657 16006 858112.063  163   59 910280.806 733843.304  19.4%  27.5  160s
 33004 17275 828479.802   51  139 910280.806 735173.954  19.2%  27.4  165s
 35326 18278 792834.413   50   86 910280.806 735746.912  19.2%  27.8  170s
 37418 19179 882921.052   65   76 910280.806 736312.892  19.1%  27.9  175s
 39637 20078 799152.337   55   44 910280.806 736697.444  19.1%  28.1  181s
 41228 20827 805396.796   91   75 910280.806 737089.628  19.0%  28.2  185s
 43622 22200 737766.571   43  123 910280.806 737531.447  19.0%  28.1  191s
 45987 23648     cutoff   70      910280.806 737864.622  18.9%  28.3  195s
 48890 24746 901780.572  150   91 910280.806 738217.864  18.9%  28.0  200s
 51470 26307 821386.823   70   56 910280.806 738528.057  18.9%  27.9  207s
 53609 27043 812956.594  114   71 910280.806 738741.975  18.8%  27.8  210s
 55695 28027 756339.816   39   61 910280.806 738959.710  18.8%  28.0  215s
 58359 29201 771824.014   62   77 910280.806 739367.201  18.8%  28.0  220s
 61232 30569 816890.011   77   63 910280.806 739706.108  18.7%  28.1  226s
 64072 32008 828085.818  245   70 910280.806 740049.981  18.7%  27.9  232s
 65266 32156 774877.611  119   78 910280.806 740189.858  18.7%  28.1  235s
 67750 34410 760015.059   52   47 910280.806 740386.359  18.7%  28.0  241s
 70106 36141 778988.290   61   46 910280.806 740565.634  18.6%  27.9  245s
 72595 38369 871931.524  212   55 910280.806 740825.096  18.6%  28.0  250s
 75532 40644 853504.128  208   54 910280.806 741102.658  18.6%  27.8  255s
 77004 41394 771547.234   52   65 910280.806 741218.212  18.6%  27.8  261s
 77061 46131 774557.159   53   59 910280.806 741218.212  18.6%  27.8  278s
 82903 46628 754390.189   45  106 910280.806 741602.937  18.5%  27.8  280s
 85183 48682 782611.966   58  116 910280.806 741803.109  18.5%  27.6  285s
 88222 50967 767330.135   84   77 910280.806 741941.151  18.5%  27.5  290s
 89885 52181 782047.361   44   34 910280.806 742029.606  18.5%  27.8  296s
 92111 54093 755047.823   36   80 910280.806 742204.048  18.5%  27.8  301s
 93967 55631 757987.526   49  131 910280.806 742367.344  18.4%  27.8  305s
 95516 56505 848596.923  124   85 910280.806 742485.888  18.4%  27.8  310s
 97849 58694 848679.429   85   57 910280.806 742647.965  18.4%  27.9  316s
 99285 59817 861437.283  102   41 910280.806 742727.189  18.4%  27.9  320s
 101827 61818 791350.972   57   55 910280.806 742928.592  18.4%  28.0  326s
 102693 62410 infeasible   72      910280.806 742975.168  18.4%  28.0  330s
 105112 64117 876560.868   85   63 910280.806 743123.704  18.4%  28.0  336s
 107125 65733 797493.360  123   74 910280.806 743240.048  18.4%  28.0  341s
 108989 67060 796061.456  103   60 910280.806 743316.665  18.3%  28.0  346s
 110681 68337 804028.202  120   77 910280.806 743430.645  18.3%  28.0  350s
 112259 69467 826239.259   53   54 910280.806 743515.735  18.3%  28.0  355s
 113830 70636 862207.255  163   83 910280.806 743597.735  18.3%  28.1  360s
 115543 72325 801724.826   68   51 910280.806 743744.985  18.3%  28.0  366s
 116719 73089 812927.161   77   38 910280.806 743806.102  18.3%  28.1  370s
 118752 74676 870707.901  113   48 910280.806 743973.616  18.3%  28.2  375s
 121344 76770 757525.574   60   53 910280.806 744136.588  18.3%  28.2  381s
 123358 78268 838004.252   51   66 910280.806 744216.866  18.2%  28.2  386s
 125158 79554 839893.118   88   52 910280.806 744280.300  18.2%  28.2  390s
 127004 80932 infeasible   95      910280.806 744431.124  18.2%  28.3  395s
 128272 82165 748590.111   54   53 910280.806 744528.788  18.2%  28.3  400s
 130890 83950     cutoff   73      910280.806 744605.437  18.2%  28.2  405s
 132690 85286 759205.006   55   49 910280.806 744672.204  18.2%  28.3  410s
 134370 86606 763194.890   60  107 910280.806 744810.300  18.2%  28.3  415s
 136413 88271 870295.728   85   66 910280.806 744928.631  18.2%  28.3  420s
 138932 90351 827492.489  110   77 910280.806 745026.398  18.2%  28.3  426s
 140834 91654 903541.231   70   19 910280.806 745145.752  18.1%  28.3  432s
 142118 92485 754439.066   49  132 910280.806 745210.838  18.1%  28.3  435s
 144030 94153 783816.179  100   72 910280.806 745298.074  18.1%  28.4  440s
 146020 95734 773809.407   61   48 910280.806 745376.351  18.1%  28.3  445s
 148767 97988 infeasible   53      910280.806 745518.137  18.1%  28.3  451s
 150680 99569 791818.557   62   32 910280.806 745589.070  18.1%  28.3  455s
 152564 101051 778063.743   48   85 910280.806 745656.351  18.1%  28.3  460s
 154335 102499 812494.860  128   94 910280.806 745727.239  18.1%  28.3  466s
 156046 103686 813658.329   75   80 910280.806 745837.906  18.1%  28.3  470s
 157853 105115 824521.397  109   98 910280.806 745966.568  18.1%  28.4  475s
 159827 106526 796184.840   51   63 910280.806 746056.525  18.0%  28.4  480s
 161752 108017 792672.903   69   68 910280.806 746149.577  18.0%  28.4  485s
 163554 109312 759869.053   64   97 910280.806 746254.252  18.0%  28.4  490s
 165394 110507 776349.092   44   72 910280.806 746369.541  18.0%  28.4  495s
 167202 111983 870195.876   51   46 910280.806 746456.050  18.0%  28.5  501s
 169157 113655 786061.320   43   89 910280.806 746508.583  18.0%  28.5  506s
 171248 115258 794544.657   61   98 910280.806 746573.450  18.0%  28.4  511s
 173148 116864 826060.168  125   56 910280.806 746650.469  18.0%  28.4  515s
 175083 118320 779412.208   51  127 910280.806 746714.941  18.0%  28.4  520s
 177525 120270 879195.143   77   63 910280.806 746770.022  18.0%  28.4  526s
 179248 121687 801877.172   48   62 910280.806 746845.834  18.0%  28.4  532s
 180485 122569 827116.182  100   90 910280.806 746879.844  18.0%  28.4  535s
 182344 123895 823295.091   71   55 910280.806 746969.629  17.9%  28.5  540s
 184278 125422 764082.360   37   77 910280.806 747044.669  17.9%  28.5  545s
 186064 126690 775915.283   62   47 910280.806 747116.787  17.9%  28.5  550s
 187853 128079 859179.153   77   85 910280.806 747171.930  17.9%  28.6  555s
 190038 129789 812339.568   67   70 910280.806 747221.863  17.9%  28.5  560s
 191978 131305 809493.692  107   65 910280.806 747321.172  17.9%  28.5  566s
 193765 132717 825969.166   52   80 910280.806 747363.851  17.9%  28.5  571s
 195809 134381 798929.985   56  108 910280.806 747431.439  17.9%  28.5  576s
 197654 135665 815721.272   76   71 910280.806 747478.487  17.9%  28.5  581s
 199477 136987 812614.183   94   59 910280.806 747547.592  17.9%  28.5  585s
 201167 138495 786141.125   52   79 910280.806 747625.850  17.9%  28.5  590s
 203054 139905 764193.285   58   65 910280.806 747696.242  17.9%  28.5  595s

Cutting planes:
  Learned: 3
  Gomory: 123
  Lift-and-project: 8
  Cover: 70
  Implied bound: 218
  Clique: 7
  MIR: 114
  Mixing: 3
  StrongCG: 17
  Flow cover: 833
  GUB cover: 14
  Inf proof: 73
  Zero half: 130
  Mod-K: 1
  RLT: 272
  Relax-and-lift: 88

Explored 205086 nodes (5836476 simplex iterations) in 600.02 seconds (562.58 work units)
Thread count was 12 (of 12 available processors)

Solution count 10: 910281 910957 916349 ... 1.0789e+06

Time limit reached
Best objective 9.102808058643e+05, best bound 7.477518324240e+05, gap 17.8548%
WARNING: Loading a SolverResults object with an 'aborted' status, but
containing a solution

============================================================
Estado de la solución: aborted
Condición de terminación: maxTimeLimit
Valor objetivo: 910280.81 COP
============================================================

In [ ]:
# Verificar solucion
if results_C1.solver.status == SolverStatus.ok and results_C1.solver.termination_condition == TerminationCondition.optimal:
    print("Solución óptima encontrada")
elif results_C1.solver.status == SolverStatus.ok:
    print("Solución factible encontrada")
else:
    print("No se encontró solución factible")
    print(f"Estado: {results_C1.solver.status}")
    print(f"Terminación: {results_C1.solver.termination_condition}")

# Extraer rutas
rutas_solucion = []
vehiculos_usados = []

for v in model_C1.Vehicles:
    if value(model_C1.y[v]) > 0.5:  # Vehiculo usado
        vehiculos_usados.append(v)
        # Construir la ruta 
        ruta = []
        actual = "CD01"
        ruta.append(actual)
        visitados = set([actual])
        
        # Buscar siguiente nodo desde CD01
        siguiente = None
        for j in model_C1.Locations:
            if j != actual and value(model_C1.x[v, actual, j]) > 0.5:
                siguiente = j
                break
        
        # Seguir la ruta hasta volver al CD
        max_iteraciones = len(model_C1.Locations) 
        iteracion = 0
        while siguiente and siguiente != "CD01" and iteracion < max_iteraciones:
            if siguiente in visitados:
                break  
            ruta.append(siguiente)
            visitados.add(siguiente)
            actual = siguiente
            siguiente = None
            for j in model_C1.Locations:
                if j != actual and value(model_C1.x[v, actual, j]) > 0.5:
                    siguiente = j
                    break
            iteracion += 1
        
        if len(ruta) > 1:
            ruta.append("CD01")
            rutas_solucion.append((v, ruta))

print(f"\nVehículos utilizados: {len(vehiculos_usados)}")
for v, ruta in rutas_solucion:
    print(f"  {v}: {' -> '.join(ruta)}")

# Metricas
resultados_verificacion = []

for v, ruta in rutas_solucion:

    vehicle_id = v
    vehicle_type = "Truck" 
    
    # Calcular demanda atendida
    clients_served = [nodo for nodo in ruta if nodo != "CD01"]
    demand_satisfied = sum(demand_dict[c] for c in clients_served)
    
    # Calcular distancia total
    total_distance = 0
    for i in range(len(ruta) - 1):
        total_distance += distance_dict[(ruta[i], ruta[i+1])]
    
    # Calcular tiempo total
    total_time_minutes = 0
    for i in range(len(ruta) - 1):
        total_time_minutes += time_matrix_C1.loc[ruta[i], ruta[i+1]]
    
    # Calcular costo
    total_cost = 0
    # Costo fijo
    if value(model_C1.y[v]) > 0.5:
        total_cost += value(model_C1.C_fixed)
    # Costos variables 
    for i in range(len(ruta) - 1):
        total_cost += cost_dict[(ruta[i], ruta[i+1])]
    
    # Formatear ruta 
    route_sequence = " - ".join(ruta)
    
    # Formatear clientes 
    clients_served_str = ", ".join(clients_served)
    
    # Formatear demanda satisfecha por cliente
    demand_satisfied_list = [f"{c}:{demand_dict[c]}" for c in clients_served]
    demand_satisfied_str = ", ".join(demand_satisfied_list)
    
    # Formatear tiempo total (HH:MM)
    horas = int(total_time_minutes // 60)
    minutos = int(total_time_minutes % 60)
    total_time_str = f"{horas:02d}:{minutos:02d}"
    
    resultados_verificacion.append({
        "VehicleId": vehicle_id,
        "VehicleType": vehicle_type,
        "InitialLoad": demand_satisfied,  
        "RouteSequence": route_sequence,
        "ClientsServed": clients_served_str,
        "DemandSatisfied": demand_satisfied_str,
        "TotalDistance": round(total_distance, 2),
        "TotalTime": total_time_str,
        "Cost": round(total_cost, 2)
    })

df_verificacion = pd.DataFrame(resultados_verificacion)
df_verificacion.to_csv("verificacion_caso1.csv", index=False)

print(f"\nResumen:")
print(f"  Total vehículos usados: {len(vehiculos_usados)}")
if results_C1.solver.status == SolverStatus.ok:
    print(f"  Costo total: {value(model_C1.obj):.2f} COP")
print(f"\n{df_verificacion.to_string(index=False)}")

⚠ No se encontró solución factible
Estado: aborted
Terminación: maxTimeLimit

Vehículos utilizados: 3
  V001: CD01 -> C020 -> C012 -> C021 -> C007 -> C019 -> C002 -> C003 -> C023 -> C014 -> CD01
  V002: CD01 -> C024 -> C016 -> C010 -> C001 -> C004 -> C015 -> C022 -> C013 -> C006 -> CD01
  V008: CD01 -> C005 -> C008 -> C011 -> C009 -> C017 -> C018 -> CD01

✓ Archivo de verificación generado: verificacion_caso1.csv

Resumen de la solución:
  Total vehículos usados: 3

VehicleId VehicleType  InitialLoad                                                              RouteSequence                                        ClientsServed                                                                 DemandSatisfied  TotalDistance TotalTime      Cost
     V001       Truck          126 CD01 - C020 - C012 - C021 - C007 - C019 - C002 - C003 - C023 - C014 - CD01 C020, C012, C021, C007, C019, C002, C003, C023, C014 C020:15, C012:12, C021:14, C007:17, C019:11, C002:15, C003:12, C023:15, C014:15          38.59     00:57 283959.89
     V002       Truck          137 CD01 - C024 - C016 - C010 - C001 - C004 - C015 - C022 - C013 - C006 - CD01 C024, C016, C010, C001, C004, C015, C022, C013, C006 C024:11, C016:10, C010:15, C001:13, C004:15, C015:17, C022:18, C013:21, C006:17          47.59     01:11 338567.05
     V008       Truck          114                      CD01 - C005 - C008 - C011 - C009 - C017 - C018 - CD01                   C005, C008, C011, C009, C017, C018                            C005:20, C008:20, C011:17, C009:20, C017:25, C018:12          39.21     00:58 287753.87

## Caso 2- Simplificado Proyecto-Específico

In [25]:
import numpy as np
from pyomo.environ import *
model = ConcreteModel()
vehiculos = vehicles_C2["StandardizedID"]
n = len(Puntos)

Lugares = Puntos["StandardizedID"]
model.Lugares = Set(initialize=Lugares.copy())
model.Vehiculos = Set(initialize=vehiculos.copy())

# Informacion de los clintes

demanda =  dict(zip(Puntos['StandardizedID'].tolist(), Puntos['Demand'].tolist())) 
inicioTiempo =  dict(zip(Puntos['StandardizedID'].tolist(), Puntos['StartWindow'].tolist())) 
finTiempo =  dict(zip(Puntos['StandardizedID'].tolist(), Puntos['EndtWindow'].tolist())) 

# Informacion de los vheiculos
capacidad = dict(zip(vehicles_C2['StandardizedID'].tolist(), vehicles_C2['Capacity'].tolist()))
rango = dict(zip(vehicles_C2['StandardizedID'].tolist(), vehicles_C2['Range'].tolist()))

# Agregar la informacion al modelo
model.D_i =  Param(model.Lugares, initialize = demanda)
model.HI_i= Param(model.Lugares, initialize = inicioTiempo)
model.HF_i= Param(model.Lugares, initialize = finTiempo)

model.C_v = Param(model.Vehiculos, initialize = capacidad)
model.A_v = Param(model.Vehiculos, initialize = rango)

model.Costos = Param(model.Vehiculos, model.Lugares,  model.Lugares, initialize = Matriz_costos)
model.Distancia = Param( model.Lugares,  model.Lugares, initialize = distanciasP)

# variables del modelo
model.x = Var(model.Vehiculos, model.Lugares,model.Lugares,  within=Binary)
model.w = Var(model.Vehiculos,   within=Binary)
model.h = Var(model.Vehiculos, model.Lugares,model.Lugares, bounds =(1 , 1440),  within=Integers)
model.u = Var(model.Vehiculos, model.Lugares,bounds =(1 , n-1) , within = Integers  )


# funcion objetivo
def funcion_objetivo(model):
    return  sum (model.Costos[v, i, j]*model.x[v, i,j] for i in model.Lugares for j in model.Lugares for v in model.Vehiculos) 
model.obj = Objective(rule = funcion_objetivo, sense=minimize)

#restricciones

# Equipos que se usan
def se_usa(model, e):
    return (n*model.w[e]>= sum ( model.x[e, i,j] for i in model.Lugares for j in model.Lugares) )
model.se_esta_usando = Constraint ( model.Vehiculos , rule = se_usa )

def out_rule ( model , i ) :
    if (  (i != "CD01")):
        return sum ( model.x [e, i , j ] for j in model.Lugares for e in model.Vehiculos if (j != i))  == 1
    return Constraint . Skip
model.out = Constraint ( model.Lugares , rule = out_rule )

def in_rule ( model , j ) :
    if ( (j != "CD01")):
        return sum ( model.x [e, i , j ] for i in model.Lugares for e in model.Vehiculos if (j != i) ) == 1
    return  Constraint.Skip
model.in_ = Constraint ( model.Lugares , rule = in_rule )

def incio (model, e):
    return sum(model . x [e, i , "CD01" ] for i in model.Lugares ) == 1*model.w[e]
model.inicio_rul = Constraint ( model.Vehiculos , rule = incio )

def fin (model, e):
    return sum(model . x [e, "CD01" , j ] for j in model.Lugares  ) == 1*model.w[e]
model.fin_rul = Constraint ( model.Vehiculos , rule = fin )

def flujo_vehiculo(model, v, i):
    if i != "CD01":
        return sum(model.x[v, i, j] for j in model.Lugares if j != i) ==  sum(model.x[v, j, i] for j in model.Lugares if j != i)
    return Constraint.Skip
model.flujo_vehiculo = Constraint(model.Vehiculos, model.Lugares, rule=flujo_vehiculo)

# Restriccion de autonomia
def restriccion_autonomia(model, v):
    return sum(model.x[v, i, j] * model.Distancia[i,j] for i in model.Lugares for j in model.Lugares) <= model.A_v[v]
model.autonomia = Constraint(model.Vehiculos, rule = restriccion_autonomia)

# Distibucion
def restriccion_autonomia(model, v):
    return sum(model.x[v, i, j] * model.D_i[i] for i in model.Lugares for j in model.Lugares) <= model.C_v[v]
model.autonomia = Constraint(model.Vehiculos, rule = restriccion_autonomia)

# Tiempo
def restriccion_tiempo_Inico(model, v, i , j):
    return (model.h[v, i,j] >= model.HI_i[i])
model.startWindow = Constraint(model.Vehiculos, model.Lugares, model.Lugares, rule = restriccion_tiempo_Inico)

def restriccion_tiempo_Fin(model, v, i , j):
    return (model.h[v, i,j] <= model.HF_i[i])
model.endWindow = Constraint(model.Vehiculos, model.Lugares, model.Lugares, rule = restriccion_tiempo_Fin)

def mtz_rule ( model , i , j, e ) :
    if i != j and i != "CD01" and j != "CD01":
        return model.u [ e,i ] - model . u [ e,j ] + n * model . x [e, i , j ] <= n - 1
    else :
        return Constraint . Skip
model.MTZ = Constraint ( model.Lugares , model.Lugares , model.Vehiculos, rule = mtz_rule )


solucion = []
solver = SolverFactory('glpk')
model.dfj_constraints = ConstraintList()
results = solver.solve(model)

WARNING: Implicitly replacing the Component attribute autonomia (type=<class
'pyomo.core.base.constraint.IndexedConstraint'>) on block unknown with a new
Component (type=<class 'pyomo.core.base.constraint.IndexedConstraint'>). This
is usually indicative of a modelling error. To avoid this warning, use
block.del_component() and block.add_component().
WARNING: Could not locate the 'glpsol' executable, which is required for
solver 'glpk'

ApplicationError: No executable found for solver 'glpk'

## Caso 3- Avanzado Realista

## Análisis de resultados

## Análisis de sensibilidad