# **Proyecto B:** Optimización en la Planificación de Entregas Salva Vidas con Flota Híbrida para LogistiCo
## Intregantes

* Rodrigo Paz Londoño
* Sebastián Palma Mogollón
* Miguel Santiago Castillo Hernandez

## Descripcion de los archivos del dataset

## Carga de datos

### Caso 1 - CVRP Base

In [1]:
import pandas as pd

clients_C1 = pd.read_csv("Caso 1 - CVRP Base/clients.csv")
depots_C1 = pd.read_csv("Caso 1 - CVRP Base/depots.csv")
vehicles_C1 = pd.read_csv("Caso 1 - CVRP Base/vehicles.csv")
parameters_C1 = pd.read_csv("Caso 1 - CVRP Base/parameters_base.csv", sep=";")

In [2]:
clients_C1.head()

   ClientID StandardizedID  LocationID  Latitude  Longitude  Demand
0         1           C001           2  4.597954 -74.098938      13
1         2           C002           3  4.687821 -74.075571      15
2         3           C003           4  4.709494 -74.107085      12
3         4           C004           5  4.605029 -74.097280      15
4         5           C005           6  4.648464 -74.164641      20

In [3]:
depots_C1.head()

   DepotID StandardizedID  LocationID  Longitude  Latitude
0        1           CD01           1 -74.153536  4.743359

In [4]:
vehicles_C1.head()

   VehicleID StandardizedID  Capacity  Range
0          1           V001       130    170
1          2           V002       140    200
2          3           V003       120    180
3          4           V004       100     90
4          5           V005        70    100

In [5]:
parameters_C1.head()

,Parameter,Value,Unit,Description
0,fuel_price,16300.0,COP/liter,Fuel price for vehicles
1,cost_transport_km,3000.0,COP/km,Transport cost per kilometer
2,cost_maintenance_km,500.0,COP/km,Maintenance cost per kilometer
3,operational_cost_vehicle,50000.0,COP/vehicle/day,Fixed daily cost per vehicle
4,fuel_efficiency,7.9,km/L,Fuel efficiency of vehicles

### Caso 2 - Simplificado Proyecto-Específico

In [6]:
clients_C2 = pd.read_csv("Caso 2 - Simplificado Proyecto-Específico/clients.csv")
depots_C2 = pd.read_csv("Caso 2 - Simplificado Proyecto-Específico/depots.csv")
vehicles_C2 = pd.read_csv("Caso 2 - Simplificado Proyecto-Específico/vehicles.csv")
parameters_C2 = pd.read_csv("Caso 2 - Simplificado Proyecto-Específico/parameters_rural.csv")

In [7]:
clients_C2.head()

,ClientID,StandardizedID,LocationID,Latitude,Longitude,Demand,TimeWindow
0,1,C001,2,12.341057,-71.723837,25.0,13:20-13:50
1,2,C002,3,12.310993,-71.719252,9.0,13:30-14:00
2,3,C003,4,12.326781,-71.668190,18.0,10:15-10:45
3,4,C004,5,12.330562,-71.694530,22.0,13:00-13:30
4,5,C005,6,12.346781,-71.708920,13.0,14:50-15:20

In [8]:
depots_C2.head()

   DepotID StandardizedID  LocationID  Latitude  Longitude
0        1           CD01           1  12.31846 -71.716203

In [9]:
vehicles_C2.head()

   VehicleID StandardizedID   Type  Capacity  Range  Speed
0          1           V001    4x4     200.0  804.0   40.0
1          2           V002  drone      25.0  480.0  135.0
2          3           V003  drone      25.0  480.0  135.0

In [10]:
parameters_C2.head()

       Parameter  Value         Unit                           Description
0  C_fixed_drone  30000  COP/vehicle      Fixed activation cost for drones
1  C_fixed_truck  60000  COP/vehicle  Fixed activation cost for 4x4 trucks
2   C_dist_drone    800       COP/km              Drone maintenance per km
3   C_dist_truck   3000       COP/km              Truck maintenance per km
4   C_time_drone   2000     COP/hour            Drone operator hourly cost

### Caso 3 - Avanzado Realista

In [11]:
clients_C3 = pd.read_csv("Caso 3 - Avanzado Realista/clients.csv")
depots_C3 = pd.read_csv("Caso 3 - Avanzado Realista/depots.csv")
vehicles_C3 = pd.read_csv("Caso 3 - Avanzado Realista/vehicles.csv")
parameters_C3 = pd.read_csv("Caso 3 - Avanzado Realista/parameters_rural.csv")

In [12]:
clients_C3.head()

,ClientID,StandardizedID,LocationID,Latitude,Longitude,Demand,TimeWindow
0,1,C001,2,12.341057,-71.723837,25.0,13:05-14:05
1,2,C002,3,12.310993,-71.719252,9.0,13:15-14:15
2,3,C003,4,12.326781,-71.668190,18.0,10:00-10:60
3,4,C004,5,12.330562,-71.694530,22.0,12:45-13:45
4,5,C005,6,12.346781,-71.708920,13.0,14:35-15:35

In [13]:
depots_C3.head()

   DepotID StandardizedID  LocationID  Latitude  Longitude
0        1           CD01           1  12.31846 -71.716203

In [14]:
vehicles_C3.head()

   VehicleID StandardizedID   Type  Capacity  Range  Speed
0          1           V001    4x4     200.0  804.0    NaN
1          2           V002  drone      25.0  480.0  135.0
2          3           V003  drone      25.0  480.0  135.0

In [15]:
parameters_C3.head()

       Parameter  Value         Unit                           Description
0  C_fixed_drone  30000  COP/vehicle      Fixed activation cost for drones
1  C_fixed_truck  60000  COP/vehicle  Fixed activation cost for 4x4 trucks
2   C_dist_drone    800       COP/km              Drone maintenance per km
3   C_dist_truck   3000       COP/km              Truck maintenance per km
4   C_time_drone   2000     COP/hour            Drone operator hourly cost

## Procesamiento

### Caso 1 - CVRP Base

#### Validaciones de integridad de los datos

In [16]:
# Funciones para validar cordenadas

def validar_latitud(latitud): 
    if -90 <= latitud <= 90:
        return True
    return False

def validar_longitud(longitud): 
    if -180 <= longitud <= 180:
        return True
    return False

# Verificaciones Clientes

print("\n===== VALIDACIONES CLIENTES =====")

if clients_C1["Latitude"].apply(validar_latitud).all():
    print("Latitudes validas para todos los clientes")

if clients_C1["Longitude"].apply(validar_longitud).all():
    print("Longitudes validas para todos los clientes")

if (clients_C1["Demand"] >= 0).all():
    print("Todas las demandas de los clientes son mayores a 0")

if not clients_C1["StandardizedID"].duplicated().any():
    print("No hay clientes con ID repetidos")

# Verificaciones Depositos

print("\n===== VALIDACIONES DEPOSITOS =====")

if depots_C1["Latitude"].apply(validar_latitud).all():
    print("Latitudes validas para todos los depositos")

if depots_C1["Longitude"].apply(validar_longitud).all():
    print("Longitudes validas para todos los depositos")

if not depots_C1["StandardizedID"].duplicated().any():
    print("No hay depositos con ID repetidos")

# Verificaciones Vehiculos

print("\n===== VALIDACIONES VEHICULOS =====")

if (vehicles_C1["Capacity"] > 0).any():
    print("Todas las capacidades de los vehiculos no son negativas")

if (vehicles_C1["Range"] > 0).any():
    print("Todas los rangos de los vehiculos no son negativas")

if not vehicles_C1["StandardizedID"].duplicated().any():
    print("No hay vehiculos con ID repetidos")

===== VALIDACIONES CLIENTES =====
Latitudes validas para todos los clientes
Longitudes validas para todos los clientes
Todas las demandas de los clientes son mayores a 0
No hay clientes con ID repetidos

===== VALIDACIONES DEPOSITOS =====
Latitudes validas para todos los depositos
Longitudes validas para todos los depositos
No hay depositos con ID repetidos

===== VALIDACIONES VEHICULOS =====
Todas las capacidades de los vehiculos no son negativas
Todas los rangos de los vehiculos no son negativas
No hay vehiculos con ID repetidos

#### Matrices de distancias y costos

In [17]:
import numpy as np
from math import radians, sin, cos, sqrt, atan2

# Funcion para calcular distancias

def funcion_haversine(Latitud_A, Longitud_A, Latitud_B, Longitud_B):
    Radio = 6371 
    Latitud_A, Longitud_A, Latitud_B, Longitud_B = map(radians, [Latitud_A, Longitud_A, Latitud_B, Longitud_B])
    Distancia_latitud = Latitud_A - Latitud_B
    Distancia_longitud = Longitud_A - Longitud_B
    Raiz = sqrt((sin(Distancia_latitud/2)**2) + (cos(Latitud_A)*cos(Latitud_B)*(sin(Distancia_longitud/2)**2)))
    Resultado = 2 * Radio * atan2(Raiz, 1 - Raiz)
    return Resultado

# Creacion de la matriz distancia

Puntos = pd.concat([depots_C1[["StandardizedID","Latitude","Longitude"]], clients_C1[["StandardizedID","Latitude","Longitude"]]]).reset_index(drop=True)
n = len(Puntos)
Matriz_distancia = np.zeros((n,n))

for i in range(n):
    for j in range(n):
        Matriz_distancia[i,j] = funcion_haversine(Puntos.loc[i,"Latitude"], Puntos.loc[i,"Longitude"], Puntos.loc[j,"Latitude"], Puntos.loc[j,"Longitude"])

Distacias_C1 = pd.DataFrame(Matriz_distancia, columns=Puntos["StandardizedID"], index=Puntos["StandardizedID"])
Distacias_C1.to_csv("Caso 1 - CVRP Base/distance_matrix_case1.csv", index=True)

# Creacion de la matriz de tiempos 

Velocidad_promedio = 40 
Matriz_tiempo_horas = Matriz_distancia / Velocidad_promedio 
Matriz_tiempo_minutos = Matriz_tiempo_horas * 60  

Tiempo_C1 = pd.DataFrame(Matriz_tiempo_minutos, columns=Puntos["StandardizedID"], index=Puntos["StandardizedID"])
Tiempo_C1.to_csv("Caso 1 - CVRP Base/time_matrix_case1.csv", index=True)

# Creacion de la matriz de costos

params = dict(zip(parameters_C1["Parameter"], parameters_C1["Value"]))
Pf = params["fuel_price"]                 
Ct = params["cost_transport_km"]          
Cm = params["cost_maintenance_km"]       
Co = params["operational_cost_vehicle"]   
R  = params["fuel_efficiency"]           
Salario_condutor_minuto = params["driver_salary_minute"]
Matriz_costos = np.zeros((n,n))

for i in range(n):
    for j in range(n):
        Distancia = Matriz_distancia[i,j]
        Litros = Distancia / R
        Costo_combustible = Litros * Pf
        Costos_varios = Distancia * (Ct + Cm)
        Costo_salario = Matriz_tiempo_minutos[i,j] * Salario_condutor_minuto
        Precio_recorrido = Costo_combustible + Costos_varios + Costo_salario
        Matriz_costos[i,j] = Precio_recorrido

Costos_C1 = pd.DataFrame(Matriz_costos, columns = Puntos["StandardizedID"], index = Puntos["StandardizedID"])
Costos_C1.to_csv("Caso 1 - CVRP Base/cost_matrix_case1.csv", index=True)

In [18]:
Distacias_C1.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,...,C015,C016,C017,C018,C019,C020,C021,C022,C023,C024
StandardizedID,,,,,,,,,,,,,,,,,,,,,
CD01,0.000000,17.286825,10.628967,6.381006,16.618729,10.632248,9.738686,15.447779,10.654923,15.260083,...,16.834419,21.242656,14.550039,10.196442,12.216835,3.529100,14.313916,15.071266,4.312636,18.716717
C001,17.286825,0.000000,10.331181,12.447666,0.807915,9.203019,7.542753,13.978915,9.930116,6.412400,...,0.861627,4.726032,3.476998,7.096530,13.218733,16.747529,18.489124,3.337066,14.984307,3.792068
C002,10.628967,10.331181,0.000000,4.244684,9.522313,10.807065,5.775244,6.022198,11.526612,12.736950,...,9.537494,15.061889,9.681241,6.459504,3.502558,8.316622,8.641148,7.053344,6.643383,13.509178
C003,6.381006,12.447666,4.244684,0.000000,11.677432,9.320279,5.484354,9.515809,9.831154,12.709651,...,11.808116,16.950151,10.599694,6.216130,6.350430,4.443322,10.038049,9.620884,2.652226,14.849076
C004,16.618729,0.807915,9.522313,11.677432,0.000000,8.898098,6.869694,13.245904,9.655214,6.530131,...,0.344396,5.533000,3.264033,6.466689,12.425502,15.998823,17.701908,2.546812,14.229390,4.442109

In [19]:
Tiempo_C1.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,...,C015,C016,C017,C018,C019,C020,C021,C022,C023,C024
StandardizedID,,,,,,,,,,,,,,,,,,,,,
CD01,0.000000,25.930238,15.943451,9.571508,24.928094,15.948372,14.608029,23.171669,15.982384,22.890124,...,25.251628,31.863983,21.825058,15.294663,18.325253,5.293650,21.470873,22.606899,6.468953,28.075076
C001,25.930238,0.000000,15.496772,18.671499,1.211872,13.804529,11.314130,20.968373,14.895174,9.618599,...,1.292440,7.089047,5.215496,10.644796,19.828099,25.121293,27.733686,5.005598,22.476461,5.688101
C002,15.943451,15.496772,0.000000,6.367026,14.283469,16.210597,8.662866,9.033297,17.289919,19.105425,...,14.306240,22.592834,14.521862,9.689255,5.253837,12.474932,12.961722,10.580016,9.965074,20.263766
C003,9.571508,18.671499,6.367026,0.000000,17.516148,13.980419,8.226531,14.273713,14.746731,19.064476,...,17.712174,25.425227,15.899541,9.324195,9.525645,6.664984,15.057074,14.431327,3.978338,22.273613
C004,24.928094,1.211872,14.283469,17.516148,0.000000,13.347148,10.304542,19.868856,14.482821,9.795196,...,0.516594,8.299500,4.896050,9.700033,18.638252,23.998235,26.552862,3.820218,21.344085,6.663163

In [20]:
Costos_C1.head()

StandardizedID,CD01,C001,C002,C003,C004,C005,C006,C007,C008,C009,...,C015,C016,C017,C018,C019,C020,C021,C022,C023,C024
StandardizedID,,,,,,,,,,,,,,,,,,,,,
CD01,0.000000,104814.969418,64446.471249,38689.862383,100764.111036,64466.363443,59048.439151,93664.306830,64603.845759,92526.249521,...,102071.899039,128800.299322,88221.048085,61823.945818,74074.167191,21397.944143,86789.365821,91381.400240,26148.743942,113484.811965
C001,104814.969418,0.000000,62640.908414,75473.761180,4898.619485,55800.539151,45733.871299,84758.163254,60209.132859,38880.213752,...,5224.289325,28655.281788,21082.030865,43028.294110,80148.958114,101545.059923,112104.849219,20233.583393,90854.143383,22992.390331
C002,64446.471249,62640.908414,0.000000,25736.732247,57736.507504,65526.324746,35016.956202,36514.309223,69889.149684,77227.773616,...,57828.553105,91324.543332,58700.136007,39165.818243,21237.012678,50426.056725,52393.753644,42766.441170,40280.729865,81910.009363
C003,38689.862383,75473.761180,25736.732247,0.000000,70803.612671,56511.519598,33253.209148,57697.072605,59609.100339,77062.249190,...,71595.986750,102773.615918,64268.978026,37690.176361,38504.474306,26941.135070,60863.565194,58334.174902,16081.202638,90034.194581
C004,100764.111036,4898.619485,57736.507504,70803.612671,0.000000,53951.717034,41652.923056,80313.705506,58542.323342,39594.052067,...,2088.170589,33548.163317,19790.768476,39209.384754,75339.371593,97005.444483,107331.732416,15442.048292,86276.864906,26933.777291

### Caso 2- Simplificado Proyecto-Específico

In [21]:
# Funciones para validar cordenadas
print ("hola")

def validar_latitud(latitud): 
    if -90 <= latitud <= 90:
        return True
    return False

def validar_longitud(longitud): 
    if -180 <= longitud <= 180:
        return True
    return False

def validar_Tiempos(Tiempo): 
    inicio = Tiempo.split("-")[0]
    final = Tiempo.split("-")[1]
    if final <= inicio:
        return False 
    return True
# Verificaciones Clientes

print("\n===== VALIDACIONES CLIENTES =====")

if clients_C1["Latitude"].apply(validar_latitud).all():
    print("Latitudes validas para todos los clientes")

if clients_C2["Longitude"].apply(validar_longitud).all():
    print("Longitudes validas para todos los clientes")

if (clients_C2["Demand"] >= 0).all():
    print("Todas las demandas de los clientes son mayores a 0")

if not clients_C2["StandardizedID"].duplicated().any():
    print("No hay clientes con ID repetidos")

if  clients_C2["TimeWindow"].apply(validar_Tiempos).all():
    print("No se tienen ventanaas de tiempo sin sentido")

# Verificaciones Depositos

print("\n===== VALIDACIONES DEPOSITOS =====")

if depots_C2["Latitude"].apply(validar_latitud).all():
    print("Latitudes validas para todos los depositos")

if depots_C2["Longitude"].apply(validar_longitud).all():
    print("Longitudes validas para todos los depositos")

if not depots_C2["StandardizedID"].duplicated().any():
    print("No hay depositos con ID repetidos")


# Verificaciones Vehiculos

print("\n===== VALIDACIONES VEHICULOS =====")

if (vehicles_C2["Capacity"] > 0).any():
    print("Todas las capacidades de los vehiculos no son negativas")

if (vehicles_C2["Range"] > 0).any():
    print("Todas los rangos de los vehiculos no son negativas")

if not vehicles_C2["StandardizedID"].duplicated().any():
    print("No hay vehiculos con ID repetidos")

hola

===== VALIDACIONES CLIENTES =====
Latitudes validas para todos los clientes
Longitudes validas para todos los clientes
Todas las demandas de los clientes son mayores a 0
No hay clientes con ID repetidos
No se tienen ventanaas de tiempo sin sentido

===== VALIDACIONES DEPOSITOS =====
Latitudes validas para todos los depositos
Longitudes validas para todos los depositos
No hay depositos con ID repetidos

===== VALIDACIONES VEHICULOS =====
Todas las capacidades de los vehiculos no son negativas
Todas los rangos de los vehiculos no son negativas
No hay vehiculos con ID repetidos

In [22]:
import numpy as np
from math import radians, sin, cos, sqrt, atan2

# Funcion para calcular distancias

def funcion_haversine(Latitud_A, Longitud_A, Latitud_B, Longitud_B):
    Radio = 6371 
    Latitud_A, Longitud_A, Latitud_B, Longitud_B = map(radians, [Latitud_A, Longitud_A, Latitud_B, Longitud_B])
    Distancia_latitud = Latitud_A - Latitud_B
    Distancia_longitud = Longitud_A - Longitud_B
    Raiz = sqrt((sin(Distancia_latitud/2)**2) + (cos(Latitud_A)*cos(Latitud_B)*(sin(Distancia_longitud/2)**2)))
    Resultado = 2 * Radio * atan2(Raiz, 1 - Raiz)
    return Resultado

# Creacion de la matriz distancia

Puntos = pd.concat([depots_C2[["StandardizedID","Latitude","Longitude"]], clients_C2[["StandardizedID","Latitude","Longitude"]]]).reset_index(drop=True)
n = len(Puntos)
Matriz_distancia = np.zeros((n,n))
distanciasP = {}
for i in range(n):
    for j in range(n):
        Matriz_distancia[i,j] = funcion_haversine(Puntos.loc[i,"Latitude"], Puntos.loc[i,"Longitude"], Puntos.loc[j,"Latitude"], Puntos.loc[j,"Longitude"])
        distanciasP[(Puntos.loc[i, "StandardizedID"],Puntos.loc[j, "StandardizedID"])] = Matriz_distancia[i,j]

Distacias_C2 = pd.DataFrame(Matriz_distancia, columns=Puntos["StandardizedID"], index=Puntos["StandardizedID"])
Distacias_C2.to_csv("Caso 2 - Simplificado Proyecto-Específico/distance_matrix_case2.csv", index=True)

# Creacion de la matriz de tiempos por vheiculo

matriz_tiempo_vehiculos = []

for i, vehiculo in vehicles_C2.iterrows():
    velocidad = vehiculo["Speed"]
    tiempo_horas = Matriz_distancia / velocidad
    tiempo_minutos = tiempo_horas * 60
    matriz_tiempo_vehiculos.append(tiempo_horas)
    Tiempo_C2 = pd.DataFrame(tiempo_minutos, columns=Puntos["StandardizedID"], index=Puntos["StandardizedID"])
    Tiempo_C2.to_csv("Caso 2 - Simplificado Proyecto-Específico/time_matrix_case2"+ vehiculo["StandardizedID"] +".csv", index=True)

# Creacion de la matriz de costos por vheiculo 

def preciocalcular(distancia, tiempo, c_fixed, c_dist, c_time, p_combustible, gasto_conbustible ):
    costosManteniento = distancia*c_dist
    costsoTiempo = tiempo*c_time
    costsoConbustible = (distancia*p_combustible)/gasto_conbustible
    return(c_fixed + costosManteniento+ costsoTiempo+costsoConbustible)


params = dict(zip(parameters_C2["Parameter"], parameters_C2["Value"]))
C_fixed_drone = float(params["C_fixed_drone"])
C_fixed_truck = float(params["C_fixed_truck"])
C_dist_drone = float(params["C_dist_drone"])
C_dist_truck = float(params["C_dist_truck"])
C_time_drone = float(params["C_time_drone"])
C_time_truck = float(params["C_time_truck"])
energy_price_drone = float(params["energy_price_drone"])
fuel_price_truck = float(params["fuel_price_truck"])
energy_consumption_drone_min = float(params["energy_consumption_drone_min"])
energy_consumption_drone_max = float(params["energy_consumption_drone_max"])
energy_consumption_drone = (energy_consumption_drone_min+energy_consumption_drone_max )/2
fuel_efficiency_truck_min =float( params["fuel_efficiency_truck_min"])
fuel_efficiency_truck_max = float( params["fuel_efficiency_truck_max"])
fuel_efficiency_truck = (fuel_efficiency_truck_min+fuel_efficiency_truck_max)/2
start_time = params["start_time"]

Matriz_costos = {}

for i, vehiculo in vehicles_C2.iterrows():
    if vehiculo["Type"] == "drone":
        costo = preciocalcular(Matriz_distancia,matriz_tiempo_vehiculos[i], C_fixed_drone,C_dist_drone,  C_time_drone,energy_price_drone,  energy_consumption_drone )
    else:
        costo = preciocalcular(Matriz_distancia,matriz_tiempo_vehiculos[i], C_fixed_truck,C_time_truck,  C_time_drone,fuel_price_truck,  fuel_efficiency_truck )
    Costos_C2 = pd.DataFrame(costo, columns = Puntos["StandardizedID"], index = Puntos["StandardizedID"])
    for i in Costos_C2.index:
        for j in Costos_C2.columns:
          Matriz_costos[(vehiculo["StandardizedID"], i, j)] = Costos_C2.loc[i, j]
    Costos_C2.to_csv("Caso 2 - Simplificado Proyecto-Específico/cost_matrix_case2" + vehiculo["StandardizedID"] +".csv", index=True)



# Cambiar el formato de las ventanas de tiempo

clientesInico = []
clientesFianl = []
for i, cliente in clients_C2.iterrows():
    inicio = cliente["TimeWindow"].split("-")[0]
    final = cliente["TimeWindow"].split("-")[1]
    horasInico = float(inicio.split(":")[0])
    minutosInico = float(inicio.split(":")[1])
    horasFin = float(final.split(":")[0])
    minutosFin = float(final.split(":")[1])
    nuevaFromaInico = horasInico*60 + minutosInico
    nuevaFromaFin = horasFin*60 + minutosFin
    clientesInico.append(nuevaFromaInico)
    clientesFianl.append(nuevaFromaFin)

clients_C2["StartWindow"] = clientesInico
clients_C2["EndtWindow"] = clientesFianl


clients_C2.head()

depots_C2["Demand"] = 0

inicio = start_time
horasInico = float(inicio.split(":")[0])
minutosInico = float(inicio.split(":")[1])
nuevaFromaInico = horasInico*60 + minutosInico

depots_C2["StartWindow"] = nuevaFromaInico
depots_C2["EndtWindow"] = 1440
Puntos = pd.concat([depots_C2[["StandardizedID","Latitude","Longitude","StartWindow", "EndtWindow", "Demand"]], clients_C2[["StandardizedID","Latitude","Longitude", "StartWindow", "EndtWindow", "Demand"]]]).reset_index(drop=True)

### Caso 3- Avanzado Realista

## Caso 1 - CVRP Base

In [ ]:
import numpy as np
from pyomo.environ import *
import pandas as pd

# Cargar matrices pre-calculadas
distance_matrix_C1 = pd.read_csv("Caso 1 - CVRP Base/distance_matrix_case1.csv", index_col=0)
cost_matrix_C1 = pd.read_csv("Caso 1 - CVRP Base/cost_matrix_case1.csv", index_col=0)
time_matrix_C1 = pd.read_csv("Caso 1 - CVRP Base/time_matrix_case1.csv", index_col=0)

# Crear modelo Pyomo
model_C1 = ConcreteModel()

# Conjuntos
locations = list(distance_matrix_C1.index)
clients = [loc for loc in locations if loc != "CD01"]
vehicles = list(vehicles_C1["StandardizedID"])

model_C1.Locations = Set(initialize=locations)
model_C1.Clients = Set(initialize=clients)
model_C1.Vehicles = Set(initialize=vehicles)

# Parámetros
demand_dict = dict(zip(clients_C1["StandardizedID"], clients_C1["Demand"]))
demand_dict["CD01"] = 0

capacity_dict = dict(zip(vehicles_C1["StandardizedID"], vehicles_C1["Capacity"]))
range_dict = dict(zip(vehicles_C1["StandardizedID"], vehicles_C1["Range"]))

# Matrices de distancia y costo
distance_dict = {}
cost_dict = {}
for i in locations:
    for j in locations:
        distance_dict[(i, j)] = distance_matrix_C1.loc[i, j]
        cost_dict[(i, j)] = cost_matrix_C1.loc[i, j]

model_C1.Demand = Param(model_C1.Locations, initialize=demand_dict, default=0)
model_C1.Capacity = Param(model_C1.Vehicles, initialize=capacity_dict)
model_C1.Range = Param(model_C1.Vehicles, initialize=range_dict)
model_C1.Distance = Param(model_C1.Locations, model_C1.Locations, initialize=distance_dict)
model_C1.Cost = Param(model_C1.Locations, model_C1.Locations, initialize=cost_dict)

# Parámetros de costos unificados
params_C1 = dict(zip(parameters_C1["Parameter"], parameters_C1["Value"]))
model_C1.C_fixed = Param(initialize=params_C1["operational_cost_vehicle"])

# Variables de decisión
model_C1.x = Var(model_C1.Vehicles, model_C1.Locations, model_C1.Locations, within=Binary)
model_C1.y = Var(model_C1.Vehicles, within=Binary)  # Vehículo activado (w_v)
model_C1.u = Var(model_C1.Vehicles, model_C1.Clients, within=NonNegativeIntegers, bounds=(0, len(clients)))

# Función objetivo unificada
def objective_rule(model):
    # Costos fijos de activación
    fixed_costs = sum(model.C_fixed * model.y[v] for v in model.Vehicles)
    
    # Costos variables (ya incluidos en la matriz de costos)
    variable_costs = sum(model.Cost[i, j] * model.x[v, i, j] 
                         for v in model.Vehicles 
                         for i in model.Locations 
                         for j in model.Locations)
    
    return fixed_costs + variable_costs

model_C1.obj = Objective(rule=objective_rule, sense=minimize)

# Restricciones (según formulación del Proyecto 1)

# 1. Distribución: Un camión no puede ir por un camino donde la demanda sea mayor a su capacidad
# Σ_{i ∈ CD} Σ_{j ∈ CD} x_v,i,j · D_i ≤ C_v, ∀ v ∈ V
def distribucion_rule(model, v):
    return sum(model.Demand[i] * model.x[v, i, j] 
               for i in model.Locations 
               for j in model.Locations) <= model.Capacity[v]

model_C1.distribucion = Constraint(model_C1.Vehicles, rule=distribucion_rule)

# 2. Devolución de vehículo: Todo vehículo que sale del centro de distribución debe acabar de nuevo en el centro de distribución
# Σ_{i ∈ CD} Σ_{j ∈ CD} x_v,i,j = w_v, ∀ v ∈ V
def devolucion_vehiculo_rule(model, v):
    return sum(model.x[v, i, j] 
               for i in model.Locations 
               for j in model.Locations) == model.y[v]

model_C1.devolucion_vehiculo = Constraint(model_C1.Vehicles, rule=devolucion_vehiculo_rule)

# 3. Autonomía: Un vehículo no puede recorrer más de su autonomía establecida
# Σ_{i ∈ CD} Σ_{j ∈ CD} DD_i,j · x_v,i,j ≤ A_v · w_v, ∀ v ∈ V
def autonomia_rule(model, v):
    return sum(model.Distance[i, j] * model.x[v, i, j] 
               for i in model.Locations 
               for j in model.Locations) <= model.Range[v] * model.y[v]

model_C1.autonomia = Constraint(model_C1.Vehicles, rule=autonomia_rule)

# 4. TSP: Se tiene que pasar por todos los clientes
# Σ_{v ∈ V} Σ_{i ∈ CD} x_v,i,j = 1, ∀ j ∈ CD ∧ j ≠ 0
def tsp_rule(model, j):
    if j != "CD01":
        return sum(model.x[v, i, j] 
                   for v in model.Vehicles 
                   for i in model.Locations) == 1
    return Constraint.Skip

model_C1.tsp = Constraint(model_C1.Locations, rule=tsp_rule)

# 5. Solo un camino: No pueden haber sub caminos para la satisfacción de la demanda (MTZ)
# u_v,i - u_v,j + N · x_v,i,j ≤ N - 1, ∀ i, j ∈ CD | i ≠ j, ∀ v ∈ V
N = len(clients)  # Número de clientes
def solo_un_camino_rule(model, v, i, j):
    if i != j and i != "CD01" and j != "CD01":
        return model.u[v, i] - model.u[v, j] + N * model.x[v, i, j] <= N - 1
    return Constraint.Skip

model_C1.solo_un_camino = Constraint(model_C1.Vehicles, model_C1.Clients, model_C1.Clients, rule=solo_un_camino_rule)

# 6. Control de flujo: El camión que entra a un cliente es el mismo que tiene que salir
# Σ_{j ∈ CD} x_v,i,j = Σ_{k ∈ CD} x_v,k,i, ∀ v ∈ V, ∀ i ∈ CD
def control_flujo_rule(model, v, i):
    return (sum(model.x[v, i, j] for j in model.Locations) == 
            sum(model.x[v, k, i] for k in model.Locations))

model_C1.control_flujo = Constraint(model_C1.Vehicles, model_C1.Locations, rule=control_flujo_rule)

# 7. Uso de camión: big M
# Σ_{j ∈ CD} Σ_{i ∈ CD} x_v,i,j ≤ w_v · n, ∀ v ∈ V
n = len(model_C1.Locations) - 1  # n = número de clientes (excluyendo CD)
def uso_camion_rule(model, v):
    return sum(model.x[v, i, j] 
               for i in model.Locations 
               for j in model.Locations) <= model.y[v] * n

model_C1.uso_camion = Constraint(model_C1.Vehicles, rule=uso_camion_rule)

# Restricción adicional: Prevenir viajes de un nodo a sí mismo (implícita pero necesaria)
def no_self_loop_rule(model, v, i):
    return model.x[v, i, i] == 0

model_C1.no_self_loop = Constraint(model_C1.Vehicles, model_C1.Locations, rule=no_self_loop_rule)

# Resolver con Gurobi
print("Resolviendo Caso 1 con Gurobi...")
solver_C1 = SolverFactory('gurobi')
if not solver_C1.available():
    print("⚠ Advertencia: Gurobi no está disponible. Intentando con CBC...")
    solver_C1 = SolverFactory('cbc')
    if not solver_C1.available():
        solver_C1 = SolverFactory('glpk')
        if not solver_C1.available():
            print("⚠ Por favor, instale un solver (gurobi, cbc, o glpk)")
            raise Exception("No se encontró ningún solver disponible")

# Configurar opciones del solver (Gurobi)
if solver_C1.name == 'gurobi':
    solver_C1.options['TimeLimit'] = 600  # Límite de tiempo: 10 minutos
    solver_C1.options['MIPGap'] = 0.01  # Gap de 1% para solución

results_C1 = solver_C1.solve(model_C1, tee=True)

print(f"\n{'='*60}")
print(f"Estado de la solución: {results_C1.solver.status}")
print(f"Condición de terminación: {results_C1.solver.termination_condition}")
if results_C1.solver.status == SolverStatus.ok:
    print(f"Valor objetivo: {value(model_C1.obj):.2f} COP")
print(f"{'='*60}")

Estado de la solución: ok
ERROR: evaluating object as numeric value: y[V001]
        (object: <class 'pyomo.core.base.var.VarData'>)
    No value for uninitialized VarData object y[V001]
ERROR: evaluating object as numeric value: obj
        (object: <class 'pyomo.core.base.objective.ScalarObjective'>)
    No value for uninitialized VarData object y[V001]

ValueError: No value for uninitialized VarData object y[V001]

In [ ]:
# Extraer y procesar la solución del Caso 1

# Verificar si la solución es óptima o factible
if results_C1.solver.status == SolverStatus.ok and results_C1.solver.termination_condition == TerminationCondition.optimal:
    print("✓ Solución óptima encontrada")
elif results_C1.solver.status == SolverStatus.ok:
    print("✓ Solución factible encontrada")
else:
    print("⚠ No se encontró solución factible")
    print(f"Estado: {results_C1.solver.status}")
    print(f"Terminación: {results_C1.solver.termination_condition}")

# Extraer rutas de la solución
rutas_solucion = []
vehiculos_usados = []

for v in model_C1.Vehicles:
    if value(model_C1.y[v]) > 0.5:  # Vehículo usado
        vehiculos_usados.append(v)
        # Construir la ruta del vehículo usando un enfoque robusto
        ruta = []
        actual = "CD01"
        ruta.append(actual)
        visitados = set([actual])
        
        # Buscar siguiente nodo desde CD01
        siguiente = None
        for j in model_C1.Locations:
            if j != actual and value(model_C1.x[v, actual, j]) > 0.5:
                siguiente = j
                break
        
        # Seguir la ruta hasta volver al CD
        max_iteraciones = len(model_C1.Locations)  # Prevenir loops infinitos
        iteracion = 0
        while siguiente and siguiente != "CD01" and iteracion < max_iteraciones:
            if siguiente in visitados:
                break  # Prevenir ciclos
            ruta.append(siguiente)
            visitados.add(siguiente)
            actual = siguiente
            siguiente = None
            for j in model_C1.Locations:
                if j != actual and value(model_C1.x[v, actual, j]) > 0.5:
                    siguiente = j
                    break
            iteracion += 1
        
        # Agregar retorno al CD si la ruta tiene clientes
        if len(ruta) > 1:
            ruta.append("CD01")
            rutas_solucion.append((v, ruta))

print(f"\nVehículos utilizados: {len(vehiculos_usados)}")
for v, ruta in rutas_solucion:
    print(f"  {v}: {' -> '.join(ruta)}")

# Calcular métricas para cada vehículo
resultados_verificacion = []

for v, ruta in rutas_solucion:
    # Información del vehículo
    vehicle_id = v
    vehicle_type = "Truck"  # Caso 1 no tiene flota híbrida, todos son trucks
    
    # Calcular demanda atendida
    clients_served = [nodo for nodo in ruta if nodo != "CD01"]
    demand_satisfied = sum(demand_dict[c] for c in clients_served)
    
    # Calcular distancia total
    total_distance = 0
    for i in range(len(ruta) - 1):
        total_distance += distance_dict[(ruta[i], ruta[i+1])]
    
    # Calcular tiempo total
    total_time_minutes = 0
    for i in range(len(ruta) - 1):
        total_time_minutes += time_matrix_C1.loc[ruta[i], ruta[i+1]]
    
    # Calcular costo
    total_cost = 0
    # Costo fijo
    if value(model_C1.y[v]) > 0.5:
        total_cost += value(model_C1.C_fixed)
    # Costos variables (de la matriz de costos)
    for i in range(len(ruta) - 1):
        total_cost += cost_dict[(ruta[i], ruta[i+1])]
    
    # Formatear ruta como secuencia
    route_sequence = " - ".join(ruta)
    
    # Formatear clientes atendidos
    clients_served_str = ", ".join(clients_served)
    
    # Formatear demanda satisfecha por cliente
    demand_satisfied_list = [f"{c}:{demand_dict[c]}" for c in clients_served]
    demand_satisfied_str = ", ".join(demand_satisfied_list)
    
    # Formatear tiempo total (HH:MM)
    horas = int(total_time_minutes // 60)
    minutos = int(total_time_minutes % 60)
    total_time_str = f"{horas:02d}:{minutos:02d}"
    
    resultados_verificacion.append({
        "VehicleId": vehicle_id,
        "VehicleType": vehicle_type,
        "InitialLoad": demand_satisfied,  # En CVRP básico, la carga inicial es igual a la demanda atendida
        "RouteSequence": route_sequence,
        "ClientsServed": clients_served_str,
        "DemandSatisfied": demand_satisfied_str,
        "TotalDistance": round(total_distance, 2),
        "TotalTime": total_time_str,
        "Cost": round(total_cost, 2)
    })

# Crear DataFrame y guardar
df_verificacion = pd.DataFrame(resultados_verificacion)
df_verificacion.to_csv("Caso 1 - CVRP Base/verificacion_caso1.csv", index=False)

print(f"\n✓ Archivo de verificación generado: verificacion_caso1.csv")
print(f"\nResumen de la solución:")
print(f"  Total vehículos usados: {len(vehiculos_usados)}")
if results_C1.solver.status == SolverStatus.ok:
    print(f"  Costo total: {value(model_C1.obj):.2f} COP")
print(f"\n{df_verificacion.to_string(index=False)}")

## Caso 2- Simplificado Proyecto-Específico

In [ ]:
import numpy as np
from pyomo.environ import *
model = ConcreteModel()
vehiculos = vehicles_C2["StandardizedID"]
n = len(Puntos)

Lugares = Puntos["StandardizedID"]
model.Lugares = Set(initialize=Lugares.copy())
model.Vehiculos = Set(initialize=vehiculos.copy())

# Informacion de los clintes

demanda =  dict(zip(Puntos['StandardizedID'].tolist(), Puntos['Demand'].tolist())) 
inicioTiempo =  dict(zip(Puntos['StandardizedID'].tolist(), Puntos['StartWindow'].tolist())) 
finTiempo =  dict(zip(Puntos['StandardizedID'].tolist(), Puntos['EndtWindow'].tolist())) 

# Informacion de los vheiculos
capacidad = dict(zip(vehicles_C2['StandardizedID'].tolist(), vehicles_C2['Capacity'].tolist()))
rango = dict(zip(vehicles_C2['StandardizedID'].tolist(), vehicles_C2['Range'].tolist()))

# Agregar la informacion al modelo
model.D_i =  Param(model.Lugares, initialize = demanda)
model.HI_i= Param(model.Lugares, initialize = inicioTiempo)
model.HF_i= Param(model.Lugares, initialize = finTiempo)

model.C_v = Param(model.Vehiculos, initialize = capacidad)
model.A_v = Param(model.Vehiculos, initialize = rango)

model.Costos = Param(model.Vehiculos, model.Lugares,  model.Lugares, initialize = Matriz_costos)
model.Distancia = Param( model.Lugares,  model.Lugares, initialize = distanciasP)

# variables del modelo
model.x = Var(model.Vehiculos, model.Lugares,model.Lugares,  within=Binary)
model.w = Var(model.Vehiculos,   within=Binary)
model.h = Var(model.Vehiculos, model.Lugares,model.Lugares, bounds =(1 , 1440),  within=Integers)
model.u = Var(model.Vehiculos, model.Lugares,bounds =(1 , n-1) , within = Integers  )


# funcion objetivo
def funcion_objetivo(model):
    return  sum (model.Costos[v, i, j]*model.x[v, i,j] for i in model.Lugares for j in model.Lugares for v in model.Vehiculos) 
model.obj = Objective(rule = funcion_objetivo, sense=minimize)

#restricciones

# Equipos que se usan
def se_usa(model, e):
    return (n*model.w[e]>= sum ( model.x[e, i,j] for i in model.Lugares for j in model.Lugares) )
model.se_esta_usando = Constraint ( model.Vehiculos , rule = se_usa )

def out_rule ( model , i ) :
    if (  (i != "CD01")):
        return sum ( model.x [e, i , j ] for j in model.Lugares for e in model.Vehiculos if (j != i))  == 1
    return Constraint . Skip
model.out = Constraint ( model.Lugares , rule = out_rule )

def in_rule ( model , j ) :
    if ( (j != "CD01")):
        return sum ( model.x [e, i , j ] for i in model.Lugares for e in model.Vehiculos if (j != i) ) == 1
    return  Constraint.Skip
model.in_ = Constraint ( model.Lugares , rule = in_rule )

def incio (model, e):
    return sum(model . x [e, i , "CD01" ] for i in model.Lugares ) == 1*model.w[e]
model.inicio_rul = Constraint ( model.Vehiculos , rule = incio )

def fin (model, e):
    return sum(model . x [e, "CD01" , j ] for j in model.Lugares  ) == 1*model.w[e]
model.fin_rul = Constraint ( model.Vehiculos , rule = fin )

def flujo_vehiculo(model, v, i):
    if i != "CD01":
        return sum(model.x[v, i, j] for j in model.Lugares if j != i) ==  sum(model.x[v, j, i] for j in model.Lugares if j != i)
    return Constraint.Skip
model.flujo_vehiculo = Constraint(model.Vehiculos, model.Lugares, rule=flujo_vehiculo)

# Restriccion de autonomia
def restriccion_autonomia(model, v):
    return sum(model.x[v, i, j] * model.Distancia[i,j] for i in model.Lugares for j in model.Lugares) <= model.A_v[v]
model.autonomia = Constraint(model.Vehiculos, rule = restriccion_autonomia)

# Distibucion
def restriccion_autonomia(model, v):
    return sum(model.x[v, i, j] * model.D_i[i] for i in model.Lugares for j in model.Lugares) <= model.C_v[v]
model.autonomia = Constraint(model.Vehiculos, rule = restriccion_autonomia)

# Tiempo
def restriccion_tiempo_Inico(model, v, i , j):
    return (model.h[v, i,j] >= model.HI_i[i])
model.startWindow = Constraint(model.Vehiculos, model.Lugares, model.Lugares, rule = restriccion_tiempo_Inico)

def restriccion_tiempo_Fin(model, v, i , j):
    return (model.h[v, i,j] <= model.HF_i[i])
model.endWindow = Constraint(model.Vehiculos, model.Lugares, model.Lugares, rule = restriccion_tiempo_Fin)

def mtz_rule ( model , i , j, e ) :
    if i != j and i != "CD01" and j != "CD01":
        return model.u [ e,i ] - model . u [ e,j ] + n * model . x [e, i , j ] <= n - 1
    else :
        return Constraint . Skip
model.MTZ = Constraint ( model.Lugares , model.Lugares , model.Vehiculos, rule = mtz_rule )


solucion = []
solver = SolverFactory('glpk')
model.dfj_constraints = ConstraintList()
results = solver.solve(model)

## Caso 3- Avanzado Realista

## Análisis de resultados

## Análisis de sensibilidad